@model Megasoft2.mtMasterCardHeader
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmIndex" }))
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger fade in">
            @Html.ValidationSummary(true)
        </div>
    }
    <div class="panel-group" id="accordion">
        <div id="MasterCardMain">
            <fieldset>
                <div class="form-horizontal row spacer">
                    <div class="col-md-3">
                        <div class="input-group">
                            @if (ViewBag.ValidId != null)
                            {
                                if (ViewBag.ValidId == true)
                                {
                                    <span class="input-group-btn">
                                        <button href="" disabled="disabled" class="btn btn-default " type="button" aria-label="Left Align">
                                            <span class="fa fa-search" aria-hidden="true"> </span>
                                        </button>
                                    </span>
                                    @Html.TextBoxFor(model => model.Id, new { @class = "form-control text-right", @onkeypress = "if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;", @ReadOnly = "readonly" })
                                }
                                else
                                {
                                    <span class="input-group-btn">
                                        <button href="@Url.Action("BrowseMasterCards", "MasterCardMain")" class="btn btn-default   modal-link searchbox " type="button" aria-label="Left Align">
                                            <span class="fa fa-search" aria-hidden="true"> </span>
                                        </button>
                                    </span>
                                    @Html.TextBoxFor(model => model.Id, new { @class = "form-control text-right", @onkeypress = "if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" })
                                }
                            }
                            else
                            {
                                <span class="input-group-btn">
                                    <button href="@Url.Action("BrowseMasterCards", "MasterCardMain")" class="btn btn-default   modal-link searchbox " type="button" aria-label="Left Align">
                                        <span class="fa fa-search" aria-hidden="true"> </span>
                                    </button>
                                </span>
                                @Html.TextBoxFor(model => model.Id, new { @class = "form-control text-right", @onkeypress = "if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" })
                            }

                            <span class="input-group-btn">
                                <button class="btn btn-default" id="btnGetMasterCardDetails" type="submit" aria-label="Left Align" name="action:GetMasterCardDetails" value="GetMasterCardDetails">
                                    <span class="fa fa-arrow-circle-right" aria-hidden="true"> </span>
                                </button>

                            </span>

                        </div>
                    </div>
                    <div class="col-md-1">
                        <a href="@Url.Action("Index", "MasterCardStockCodeBomSetup")" class="btn btn-default">
                            <span class="fa fa-refresh" aria-hidden="true"> </span>
                        </a>
                    </div>
                    @*<span class="input-group-btn col-md-1">
                            <button type="submit" class="btn btn-default" href="@Url.Action("Index", "MasterCardStockCodeBomSetup")">
                                <i class="fa fa-refresh" title="Refresh" aria-hidden="true"></i>
                            </button>

                        </span>*@
                    <div class="col-md-5">
                        <center><h4>Bill of Materials</h4></center>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" id="btnSave" type="submit" aria-label="Left Align" name="action:PostBom" value="PostBom">
                            <span class="fa fa-save" aria-hidden="true"> </span>
                        </button>
                        &nbsp;&nbsp;
                        @*<a class="btn  btn-success" id="btnExport" onclick="ExportPdf('MasterCardReport')"><span class="fa fa-print" aria-hidden="true"> </span></a>*@

                    </div>
                </div>
                <div class="form-horizontal row spacer mycontent-top">

                    <div class="col-md-6 mycontent-left">
                        <div class="form-horizontal row spacer">
                            <div class="col-md-12 col-xs-12">

                                <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Customer</label>
                                <div class=" col-sm-8">
                                    @Html.TextBoxFor(model => model.Customer, new { @class = "form-control input-xs" })
                                    @Html.ValidationMessageFor(mode => Model.Customer, null, new { @class = "alert-danger" })
                                </div>

                            </div>

                        </div>

                        @*<div class="form-horizontal row spacer">
                                <div class="col-md-12 col-xs-12">

                                    <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Name</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control input-xs", @readonly = "readonly" })
                                    </div>

                                </div>
                            </div>*@

                        <div class="form-horizontal row spacer">
                            <div class="col-md-12 col-xs-12">

                                <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Date Created</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.DateSaved, "{0:dd/MM/yyyy}", new { @class = "form-control input-xs", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="form-horizontal row spacer">
                            <div class="col-md-12 col-xs-12">

                                <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Delivery Date</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.DeliveryDate, "{0:dd/MM/yyyy}", new { @class = "datepicker datepicker-inline form-control input-xs" })
                                </div>

                            </div>
                        </div>
                        <div class="form-horizontal row spacer">
                            <div class="col-md-12 col-xs-12">

                                <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Stock Code</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.StockCode, new { @class = "form-control input-xs" })
                                </div>

                            </div>
                        </div>
                        <div class="form-horizontal row spacer">
                            <div class="col-md-12 col-xs-12">

                                <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Product Description</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.ProductDescription, new { @class = "form-control input-xs" })
                                </div>

                            </div>
                        </div>
                        <div class="form-horizontal row spacer">
                            <div class="col-md-12 col-xs-12">

                                <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Long Description</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PrintDescription, new { @class = "form-control input-xs" })
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal row spacer">
                            <div class="col-md-12 col-xs-12">

                                <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Contact</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Contact, new { @class = "form-control input-xs" })
                                </div>

                            </div>
                        </div>

                        <div class="form-horizontal row spacer">
                            <div class="col-md-12 col-xs-12">

                                <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Telephone</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control input-xs", @onkeypress = "if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>

                        <div class="form-horizontal row spacer">
                            <div class="col-md-12 col-xs-12">

                                <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Fax</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control input-xs", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>

                        <div class="form-horizontal row spacer">
                            <div class="col-md-12 col-xs-12">

                                <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Email</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-xs", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-horizontal row spacer">
                    <div class="col-md-12">
                        <div class="bs-example">
                            <div class="panel panel-primary">
                                <!-- Default panel contents -->
                                <div class="panel-heading" style="max-height: 52px;">
                                    Structure and Routing
                                </div>
                                <div class="panel-body">

                                    <div class="form-horizontal row spacer">
                                        <div class="col-md-6 col-xs-6">

                                            <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">StockCode</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="bomStockCode" readonly="readonly" class="form-control input-xs" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-horizontal row spacer">
                                        <div class="col-md-6 col-xs-6">

                                            <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Description</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="bomDescription" readonly="readonly" class="form-control input-xs" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-horizontal row spacer">
                                        <div class="col-md-6 col-xs-6">

                                            <label class="col-sm-4 control-label input-xs-label" style="text-align:left;">Long Description</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="bomLongDesc" readonly="readonly" class="form-control input-xs" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-horizontal row spacer">
                                        <div class="col-md-4 col-xs-4">
                                            <div id="tree">
                                                @* Content will be populated by jsTree *@
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-xs-8">
                                            <div class="form-horizontal row spacer">
                                                <div class="col-md-12 col-xs-12">
                                                    <a href="@Url.Action("BomOperation", "MasterCardStockCodeBomSetup")" class="modal-link btn btn-default btn-sm" id="btnAddOperation">
                                                        <i class="fa fa-plus fa-lg"></i>
                                                    </a>
                                                    <a href="@Url.Action("BomCopyOperation", "MasterCardStockCodeBomSetup")" class="modal-link btn btn-default btn-sm" id="btnCopyOperation">
                                                        <i class="fa fa-copy fa-lg"></i>
                                                    </a>
                                                    <a href="@Url.Action("BomOperationMasterCard", "MasterCardStockCodeBomSetup")" class="modal-link btn btn-default btn-sm" id="btnCopyOperationMasterCard">
                                                        <i class="fa fa-clipboard fa-lg"></i>
                                                    </a>
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-condensed table-responsive table-bordered table-striped" id="tblOper">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>
                                                                        Operation
                                                                    </th>
                                                                    <th>
                                                                        StockCode
                                                                    </th>
                                                                    <th>WorkCentre</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal row spacer">
                                                <div class="col-md-12 col-xs-12" id="AddStockCodeModal">
                                                    <div id="ComponentButtons">
                                                        <a href="@Url.Action("BomComponent", "MasterCardStockCodeBomSetup")" class="modal-link btn btn-default btn-sm" id="btnAddComponent">
                                                            <i class="fa fa-plus fa-lg"></i>
                                                        </a>
                                                        <a href="@Url.Action("BomCopyComponent", "MasterCardStockCodeBomSetup")" class="modal-link btn btn-default btn-sm" id="btnCopyComponent">
                                                            <i class="fa fa-copy fa-lg"></i>
                                                        </a>

                                                        <a href="@Url.Action("BomCopyComponentMasterCard", "MasterCardStockCodeBomSetup")" class="modal-link btn btn-default btn-sm" id="btnCopyComponentMasterCard">
                                                            <i class="fa fa-clipboard fa-lg"></i>
                                                        </a>
                                                        <a href="@Url.Action("StockCodeCreationModal", new { MasterCardId = Model.Id, MainCode = "Y" })" class="pull-right modal-link btn btn-primary btn-sm" id="btnAddStockCode">
                                                            <i class="fa fa-file-text-o fa-lg"></i>
                                                        </a>
                                                    </div>


                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-condensed table-responsive table-bordered table-striped" id="tblComp">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>
                                                                        Parent Part
                                                                    </th>
                                                                    <th>
                                                                        Component
                                                                    </th>
                                                                    <th>
                                                                        Sequence
                                                                    </th>
                                                                    <th>
                                                                        Qty Per
                                                                    </th>
                                                                    <th>
                                                                        %
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>


}

<style type="text/css">
    .nowrap {
        white-space: nowrap;
    }
</style>


<link href="~/Content/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet" />

<link href="~/Content/DataTable/datatables.css" rel="stylesheet">
@section Scripts {

    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.24.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/DataTable/datatables.js")
    @*@Scripts.Render("~/Content/VerticalTab/VerticalTabs.js")*@
    <script type="text/javascript">
    //$(".datepicker").datepicker({ format: 'dd/mm/yyyy', autoclose: true, todayBtn: 'linked' });

    $("#tblOps").DataTable({
        "ordering": false,
        "fixedHeader": true,
        "responsive": true,
        "paging": false,
        "searching": false,
        "info": false

    });

    $("#tblComp").DataTable({
        "ordering": false,
        "fixedHeader": true,
        "responsive": true,
        "paging": false,
        "searching": false,
        "info": false
    });


    function GetTree() {
        //alert("@ViewBag.MainCode");
        if ("@ViewBag.MainCode" == "N") {
            if ($("#StockCode").val() != "") {
                alert("First Create StockCode for " + $("#StockCode").val());
                window.setTimeout(function () {
                    $("#btnAddStockCode").trigger("click");
                }, 500);
            }


        }

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetTreeData", "MasterCardStockCodeBomSetup")',
                data: { KeyId: $('#Id').val() },
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        $('#tree').treeview({
                            data: data,
                            enableLinks: true,
                            showBorder: true,
                            bordercolor: 'Green',
                            onNodeSelected: function (event, data) {
                                LoadComponents(data.Component);
                                LoadOperations(data.Component);
                                //Change the Href Parameters based on the component selected.
                                var url = $('#btnAddComponent').attr("href");
                                url = "MasterCardStockCodeBomSetup/BomComponent?Id=" + $('#Id').val() + "&ParentPart=" + data.Component.replace(/ /g, '%20') + "&Mode=Add";
                                $("#btnAddComponent").attr("href", url);


                                var url = $('#btnCopyComponent').attr("href");
                                url = "MasterCardStockCodeBomSetup/BomCopyComponent?Id=" + $('#Id').val() + "&ParentPart=" + data.Component.replace(/ /g, '%20');
                                $("#btnCopyComponent").attr("href", url);

                                var url = $('#btnCopyComponentMasterCard').attr("href");
                                url = "MasterCardStockCodeBomSetup/BomCopyComponentMasterCard?Id=" + $('#Id').val() + "&ParentPart=" + data.Component.replace(/ /g, '%20');
                                $("#btnCopyComponentMasterCard").attr("href", url);

                                var url = $('#btnCopyOperationMasterCard').attr("href");
                                url = "MasterCardStockCodeBomSetup/BomOperationMasterCard?Id=" + $('#Id').val() + "&ParentPart=" + data.Component.replace(/ /g, '%20');
                                $("#btnCopyOperationMasterCard").attr("href", url);

                                //Change the Href Parameters based on the component selected.
                                var url = $('#btnAddOperation').attr("href");
                                url = "MasterCardStockCodeBomSetup/BomOperation?Id=" + $('#Id').val() + "&StockCode=" + data.Component.replace(/ /g, '%20') + "&Mode=Add";
                                $("#btnAddOperation").attr("href", url);


                                var url = $('#btnCopyOperations').attr("href");
                                url = "MasterCardStockCodeBomSetup/BomCopyOperation?Id=" + $('#Id').val() + "&ParentPart=" + data.Component.replace(/ /g, '%20');
                                $("#btnCopyOperation").attr("href", url);

                                GetDescription(data.Component);

                            }
                        });

                        LoadComponents($("#StockCode").val());
                        LoadOperations($("#StockCode").val());

                        $('#tree ul:first li:first').click();


                    }
                }
            });


    }

    function GetDescription(StockCode) {

        $('#bomStockCode').val("");
        $('#bomDescription').val("");
        $('#bomLongDesc').val("");
        $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSelectedStockCodeDesc", "MasterCardStockCodeBomSetup")',
                data: { StockCode : StockCode },
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (b, a) {
                        $('#bomStockCode').val(a.StockCode);
                        $('#bomDescription').val(a.Description);
                        $('#bomLongDesc').val(a.LongDesc);
                       });

                }
            });

    }

    function LoadComponents(ParentPart) {
        var table = $("#tblComp tbody");

        $.ajax({
                type: 'GET',
                url: '@Url.Action("GetParentComponents", "MasterCardStockCodeBomSetup")',
                data: { KeyId : $('#Id').val(), ParentPart: ParentPart },
                dataType: 'json',
                success: function (data) {
                table.empty();
                    $.each(data, function (b, a) {
                        if (a.BomExists == "N") {
                            $("#ComponentButtons").show();
                            table.append("<tr class='nr' ><td class='nowrap'><input type='hidden' value='" + a.BomExists + "'></input><a href='MasterCardStockCodeBomSetup/BomComponent?Id=" + a.Id + "&ParentPart=" + a.ParentPart + "&Mode=Change&Component=" + a.Component.replace(/ /g, '%20') + "&SequenceNum=" + a.SequenceNum + "' class='btn btn-default btn-xs modal-link' tabindex='-1'><span class='fa fa-briefcase' aria-hidden='true' title='Change Line' tabindex='-1'></span></a> <button type='button' class='delComp btn btn-danger btn-xs'><i class='fa fa-trash fa-lg' title='Delete' aria-hidden='true'></i><span class='sr-only'>Delete</span></button></td><td>" +
                                a.ParentPart + "</td><td>" + a.Component + "<input type='hidden' value='" + a.Route + "' /></td><td>" + a.SequenceNum + "</td><td>" + a.QtyPer + "</td><td>" + a.LayerPerc + "</td></tr>");
                        }
                        else {
                            $("#ComponentButtons").hide();
                            table.append("<tr class='nr' ><td><input type='hidden' value='" + a.BomExists + "'></input></td><td>" +
                                a.ParentPart + "</td><td>" + a.Component + "<input type='hidden' value='" + a.Route + "' /></td><td>" + a.SequenceNum + "</td><td>" + a.QtyPer + "</td><td>" + a.LayerPerc + "</td></tr>");
                        }

                });
              }
            });
    }

    function LoadOperations(ParentPart) {
        var table = $("#tblOper tbody");

        $.ajax({
                type: 'GET',
                url: '@Url.Action("GetStockCodeOperations", "MasterCardStockCodeBomSetup")',
                data: { KeyId : $('#Id').val(), ParentPart: ParentPart },
                dataType: 'json',
                success: function (data) {
                table.empty();
                    $.each(data, function (b, a) {
                        table.append("<tr class='nr' ><td><a href='MasterCardStockCodeBomSetup/BomOperation?Id=" + a.Id + "&StockCode=" + a.StockCode + "&Mode=Change&Operation=" + a.Operation + "' class='btn btn-default btn-xs modal-link' tabindex='-1'><span class='fa fa-briefcase' aria-hidden='true' title='Change Line' tabindex='-1'></span></a> <button type='button' class='delOper btn btn-danger btn-xs'><i class='fa fa-trash fa-lg' title='Delete' aria-hidden='true'></i><span class='sr-only'>Delete</span></button></td><td>" +
                            a.Operation + "</td><td>" + a.StockCode + "<input type='hidden' value='" + a.Route + "' /></td><td>" + a.WorkCentre + "</td></tr>");
                });

                }
            });

    }

    $(function () {
        GetTree();

        $('#tblComp').on("click", ".delComp", function () {

            var $row = $(this).closest("tr");
            var ParentPart = $(this).closest("tr").find('td:eq(1)').text();
            var Component = $(this).closest("tr").find('td:eq(2)').text();
            var Route = $(this).closest("tr").find('td:eq(2)').find('input[type=hidden]').val();
            var Sequence = $(this).closest("tr").find('td:eq(3)').text();
            var mydata = [];

            var myObject = new Object();
            myObject.Id = $('#Id').val();
            myObject.ParentPart = ParentPart;
            myObject.Component = Component;
            myObject.Route = Route;
            myObject.SequenceNum = Sequence;

            mydata.push(myObject);

            var myString = JSON.stringify({ details: JSON.stringify(mydata) });
            var exportdata = myString;

            $.ajax({
                type: "POST",
                url: "MasterCardStockCodeBomSetup/DeleteComponent",
                data: exportdata,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: OnErrorCall
            });

            function OnSuccess(response) {
                alert(response);
                GetTree();
                LoadComponents($("#StockCode").val());
            }

            function OnErrorCall(response) {
                alert(response);
            }

        });



        $('#tblOper').on("click", ".delOper", function () {

            var $row = $(this).closest("tr");
            var StockCode = $(this).closest("tr").find('td:eq(2)').text();
            var Operation = $(this).closest("tr").find('td:eq(1)').text();
            var Route = $(this).closest("tr").find('td:eq(2)').find('input[type=hidden]').val();

            var mydata = [];

            var myObject = new Object();
            myObject.Id = $('#Id').val();
            myObject.StockCode = StockCode;
            myObject.Operation = Operation;
            myObject.Route = Route;

            mydata.push(myObject);

            var myString = JSON.stringify({ details: JSON.stringify(mydata) });
            var exportdata = myString;

            $.ajax({
                type: "POST",
                url: "MasterCardStockCodeBomSetup/DeleteOperation",
                data: exportdata,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: OnErrorCall
            });

            function OnSuccess(response) {
                alert(response);
                GetTree();
            }

            function OnErrorCall(response) {
                alert(response);
            }

        });

        $("#frmIndex").submit(function (e) {
                showprogressbar();
        });
    });

    </script>
}