@using Megasoft2.Models
@model List<Group<Megasoft2.sp_GetRoleAccess_Result, string>>

@{
    ViewBag.Title = "Role Access";
}

<div class="panel panel-primary modal-body" style="border-color:white;">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#collapseOne"
               href="#collapseOne" class="collapsed">
                Role Access
            </a>
        </h4>
    </div>
    <div><input type="hidden" id="hdRole" value="@ViewBag.Role"/></div>
    <div class="panel-body">
        <table id="tblProgramFunction" class="table table-condensed table-responsive table-striped">
            <thead><tr><th></th><th>Program Function</th><th style="text-align:center;">Has Access</th></tr></thead>
            <tbody>
                @foreach (var group in Model)
                {
                    <tr><th></th><th colspan="2">@group.Key</th></tr>
                    foreach (var mtFunction in group.Values)
                    {
                        if (mtFunction.HasAccess == "false")
                        {
                            <tr><td><input type="hidden" value="@group.Key" /></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="hidden" value="@mtFunction.ProgramFunction" />@mtFunction.Activity</td><td>@Html.CheckBox("RoleSelection", false) </td></tr>
                        }
                        else
                        {
                            <tr><td><input type="hidden" value="@group.Key" /></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="hidden" value="@mtFunction.ProgramFunction" />@mtFunction.Activity</td><td>@Html.CheckBox("RoleSelection", true) </td></tr>
                        }

                    }
                }
            </tbody>
        </table>

        <div id="errordiv">

        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <button id="btnSave" type="button" value="Save" class="btn btn-info">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
            <div class="col-sm-6" style="text-align:right;">
                <button type="button" id="close-btn" class="modal-close-btn btn btn-danger">
                    <i class="fa fa-close"></i> Close
                </button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').on('click', function (e) {
            e.preventDefault();
            
            var mydata = [];
            var Role = document.getElementById('hdRole').value;
            
            $('#tblProgramFunction  tr').each(function () {
                
                var myObject = new Object();
                var $tds = $(this).find('td')
                //var Program = $(this).find("input[type='hidden']").val();               
                //var ProgramFunction = $tds.eq(1).text().trim();      
                var Program = $(this).eq(0).find("input[type='hidden']").val();
                var ProgramFunction = $tds.eq(1).find("input[type='hidden']").val();
                var HasAccess = $(this).find("input[type='checkbox'][name='RoleSelection']").is(":checked");
                myObject.Role = Role;
                myObject.Program = Program;
                myObject.ProgramFunction = ProgramFunction;
                myObject.HasAccess = HasAccess;
                if (ProgramFunction != "")
                {
                    mydata.push(myObject);
                }
                

            });

            var myString = JSON.stringify({ details: JSON.stringify(mydata) });
            var exportdata = myString;
            
            $.ajax({
                type: "POST",
                url: "Role/SaveRoleAccess",
                data: exportdata,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: OnErrorCall
            });

            function OnSuccess(response) {
                $('#errordiv').text(response);
                $('#errordiv').addClass("alert alert-danger");
            }

            function OnErrorCall(response) {
                $('#errordiv').text(response);
                $('#errordiv').addClass("alert alert-danger");
            }
        });
    });
</script>