@model Megasoft2.ViewModel.TransportSystemTransportersViewModel

@using (Html.BeginForm("Create", "TransportSystemTransporters", FormMethod.Post, new { @id = "TransporterForm" }))
{
    @Html.AntiForgeryToken()
    <h4 style="font-weight:bold;" class="text-center">Create Transporter</h4><hr />
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger fade in">
            @Html.ValidationSummary(true)
        </div>
    }
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Vehicle Details</a></li>
        <li class="pull-right">
            <button type="button" value="Users" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("TransporterIndex", "TransportSystemTransporters") + "'");">
                <i class="fa fa-group"></i> Transporters
            </button>
            <button type="submit" value="Save" class="btn btn-info">
                <i class="fa fa-save"></i> Save
            </button>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="form-group">
                <div class="col-sm-12">
                    <fieldset>
                        <div class="form-horizontal row">
                            <div class="col-sm-6">
                                @if (Model.Transport != null)
                                {

                                    <div class="form-horizontal row">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label input-sm-label" style="text-align:left;">Supplier</label>
                                            <div class="col-sm-8">
                                                <div class="col-sm-12">
                                                    @Html.TextBoxFor(model => model.Transport.Transporter, new { @class = "form-control input-sm", @id = "txtSupplier", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal row">
                                        <div class="form-group">
                                            <div class="control-label col-sm-4" style="text-align:left;">
                                                Vehicle Reg
                                            </div>
                                            <div class="editor-field input-sm col-sm-8">
                                                <div class="col-sm-12">
                                                    @Html.TextBoxFor(model => model.Transport.VehicleReg, new { @class = "form-control input-sm", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.Transport.VehicleReg)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-horizontal row">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label input-sm-label" style="text-align:left;">Supplier</label>
                                            <div class="col-sm-6">
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.Transport.Transporter, new { @class = "form-control input-sm", @id = "txtSupplier", @readonly = "readonly" })
                                                </div>
                                                <div class="input-group-btn">
                                                    <a href="@Url.Action("SupplierSearch", "TransportSystemTransporters")" class="btn btn-sm btn-info  modal-link searchbox " id="supplierbtn"><span class="fa fa-search" aria-hidden="true"> </span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-horizontal row">
                                        <div class="form-group">
                                            <div class="control-label col-sm-4" style="text-align:left;">
                                                Vehicle Reg
                                            </div>
                                            <div class="editor-field input-sm col-sm-8">
                                                <div class="col-sm-12">
                                                    @Html.TextBoxFor(model => model.Transport.VehicleReg, new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(model => model.Transport.VehicleReg)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                                <div class="form-horizontal row">
                                    <div class="form-group">
                                        <div class="control-label col-sm-4" style="text-align:left;">
                                            Link Registration 1
                                        </div>
                                        <div class="editor-field input-sm col-sm-8">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.Transport.LinkReg1, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(model => model.Transport.LinkReg1)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal row">
                                    <div class="form-group">
                                        <div class="control-label col-sm-4" style="text-align:left;">
                                            Link Registration 2
                                        </div>
                                        <div class="editor-field input-sm col-sm-8">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.Transport.LinkReg2, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(model => model.Transport.LinkReg2)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal row">
                                    <div class="form-group">
                                        <div class="control-label col-sm-4" style="text-align:left;">
                                            Link Registration 3
                                        </div>
                                        <div class="editor-field input-sm col-sm-8">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.Transport.LinkReg3, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(model => model.Transport.LinkReg3)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal row">
                                    <div class="form-group">
                                        <div class="control-label col-sm-4" style="text-align:left;">
                                            Driver
                                        </div>
                                        <div class="editor-field input-sm col-sm-8">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.Transport.Driver, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(model => model.Transport.Driver)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <div class="form-group">
                                        <div class="control-label col-sm-4" style="text-align:left;">
                                            Vehicle Capacity
                                        </div>
                                        <div class="editor-field input-sm col-sm-8">
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.Transport.VehicleCapacity, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(model => model.Transport.VehicleCapacity)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label input-sm-label" style="text-align:left;">GL Code</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(model => model.Transport.GLCode, new { @class = "form-control input-sm", @id = "txtGlCode", @readonly = "readonly" })
                                            </div>
                                            <div class="input-group-btn">
                                                <a href="@Url.Action("GlCodeSearch", "TransportSystemTransporters")" class="btn btn-sm btn-info  modal-link searchbox " id="glbtn"><span class="fa fa-search" aria-hidden="true"> </span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal row">
                                    <div class="form-group">
                                        <div class="control-label col-sm-4" style="text-align:left;">
                                            Taxable
                                        </div>
                                        <div class="editor-field input-sm col-sm-8">
                                            @Html.CheckBoxFor(model => model.Taxable, new { @class = "", @id = "Taxable", @data_toggle = "toggle", @data_size = "mini", @data_on = "Yes", @data_off = "No" })
                                            @Html.ValidationMessageFor(model => model.Taxable)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label input-sm-label" style="text-align:left;">Tax Code</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(model => model.Transport.TaxCode, new { @class = "form-control input-sm", @id = "TaxCode", @readonly = "readonly" })
                                            </div>
                                            <div class="input-group-btn">
                                                <a href="@Url.Action("TaxCode", "TransportSystemTransporters")" class="btn btn-sm btn-info  modal-link searchbox " id="glbtn"><span class="fa fa-search" aria-hidden="true"> </span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div id="errordiv">
        </div>
    </div>

}
<style type="text/css">
</style>
<link href="~/Content/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
@Scripts.Render("~/Scripts/jquery-1.8.2.min.js")

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Content/bootstrap-toggle/js/bootstrap-toggle.min.js")
<script type="text/javascript">

    function ShowErrorDiv() {

        $('#errordiv').addClass("alert alert-danger");

    }

    $(function () {

        $("#TransporterForm").submit(function (e) {
            showprogressbar();
        });

    });
</script>