@model IEnumerable<Megasoft2.mtNonStockMaster>

@{
    ViewBag.Title = "Index";
}

<h4 style="font-weight:bold;" class="text-center">Non Stocked - Stock Codes</h4><hr />

<p>
    <a href="@Url.Action("Edit", "NonStockedInvMaster")" class="btn btn-warning">
        <span class="fa fa-file-o" aria-hidden="true" title="Add New StockCode"> Add StockCode</span>
    </a>
    <a href="@Url.Action("Index", "NonStockedInvMaster")" class="btn btn-default">
        <span class="fa fa-refresh" aria-hidden="true" title="Refresh"> Refresh</span>
    </a>
</p>
<div class="form-group">
    <div class="col-sm-12">
        <input type="text" id="txtSearch" class="form-control input-sm col-sm-12" placeholder="search" autofocus />

    </div>

    <hr />
    <div class="col-sm-12">
        <table class="tblUser table table-hover table-striped table-condensed table-responsive table-bordered sortable" id="tblUser" style="table-layout:fixed;">
            <thead class="style1">
                <tr class="nowrap">
                    <th style="width:200px">
                        StockCode
                    </th>
                    <th style="width:200px">
                        Description
                    </th>
                    <th style="width:200px">
                        Long Description
                    </th>
                    <th style="width:200px">
                        Stock Uom
                    </th>
                    <th style="width:200px">
                        Product Class
                    </th>
                    <th style="width:200px">
                        Traceable Type
                    </th>
                    <th style="width:200px">
                        Part Category
                    </th>
                    <th style="width:200px">
                        Warehouse To Use
                    </th>
                    <th style="width:200px"></th>
                </tr>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="nr">
                    <td>
                        <a href="@Url.Action("Edit", "NonStockedInvMaster", new { StockCode = item.StockCode.Trim() })">@item.StockCode</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockUom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TraceableType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WarehouseToUse)
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", "NonStockedInvMaster", new { StockCode = item.StockCode.Trim() })" class="modal-link btn btn-danger btn-xs">
                            <span class="fa fa-trash-o" aria-hidden="true" title="Delete User"></span>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {

    <style type="text/css">
        .nowrap {
            white-space: nowrap;
        }
    </style>

    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.24.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/UltimateScrolling/Sortable.js")
    @Scripts.Render("~/Content/UltimateScrolling/UltimateScrollingTable.js")



    <script type="text/javascript">



    $(function () {

        $('#txtSearch').focus();
        $('#txtSearch').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            var $rows = $('#tblUser .nr');
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

        UltimateScrollingTable('tblUser', 700, 1500, 1);
    });
    </script>
}
