@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset>
    <div class="form-group " style="margin-left:-20px">
        <div class="form-horizontal row spacer-xs" id="firstrow">

            <div id="errordiv" class="col-xs-10" style="font-size:xx-small">

            </div>
        </div>

        <div id="Main">
            <div class="form-horizontal row spacer-xs">
                <div class="col-xs-3 text-left">
                    <a href="#" class="btn btn-success" id="btnNext" tabindex="-1">
                        <span class="fa fa-long-arrow-right" aria-hidden="true"> Next</span>
                    </a>
                </div>
                <div class="col-xs-5 text-center">
                    <h5>S/O-Line: <label id="SalesOrder"></label>-<label id="LineNo"></label> WMS Id:<label id="WmsId"></label></h5>
                    @*<h4></h4>*@

                </div>
                <div class="col-xs-2 text-left">
                    <a href="#" class="btn btn-primary" id="btnCheckout" tabindex="-1">
                        <span class="fa fa-shopping-cart" aria-hidden="true"> Check <br /> out</span>
                    </a>
                </div>
            </div>
            <div class="form-horizontal row spacer-xs">
                <div class="col-xs-3 text-left">
                    <a href="#" class="btn btn-danger" id="btnDelItem" tabindex="-1">
                        <span class="fa fa-trash-o" aria-hidden="true"> Delete <br /> Item</span>
                    </a>
                </div>
                <div class="col-xs-5 text-center">
                    <h5><label id="lblStockCode"></label></h5>
                    <h5><label id="lblDesc"></label></h5>
                </div>
                <div class="col-xs-2 text-left">
                    <a href="#" class="btn btn-default" id="btnAddItem" tabindex="-1">
                        <span class="fa fa-plus" aria-hidden="true"> Add <br /> Item</span>
                    </a>
                </div>
            </div>


            <div class="form-horizontal row spacer-xs">

                <div class="control-label col-xs-2" style="text-align:left;">
                    Barcode:
                </div>
                <div class="editor-field col-xs-6">
                    <input type="text" class="form-control input-lg" id="Barcode" />
                </div>
                <div class="col-xs-3 text-left">
                    <a href="#" class="btn btn-success btn-lg" id="btnCheck">
                        <span class="fa fa-arrow-circle-o-right " aria-hidden="true" title="Check"></span>
                    </a>
                </div>
            </div>
            <hr />
            <div class="form-horizontal row text-center col-xs-11">
                <div class="control-label col-xs-1" style="text-align:left;" id="txtCount">

                </div>
                <div class="control-label col-xs-1 pull-right" style="text-align:right;" id="txtItemScanned">

                </div>
                <input id="PalletTotal" type="hidden" value="">
            </div>
            <div class="form-horizontal row spacer-xs col-xs-11">
                <div id="Results">
                    <table id="tblLines" class="table table-hover table-striped table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>Scan Type</th>
                                <th>Bin</th>
                                <th>Scan Item</th>
                                <th>Qty. Released</th>
                                <th>Qty. Picked</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="DivAddItem" hidden="hidden">


            <div class="form-horizontal row spacer-xs">
                <div class="col-xs-3 text-left">
                    <a href="#" class="btn btn-success btn-lg" id="btnBack" tabindex="-1">
                        <span class="fa fa-long-arrow-left" aria-hidden="true"> Back</span>
                    </a>
                </div>

                <div class="col-xs-5 text-center">
                    <h4><label id="lblStockCode2"></label></h4>
                    <h4><label id="lblDesc2"></label></h4>
                </div>
            </div>
            <div class="form-horizontal row spacer-xs">

                <div class="control-label col-xs-2" style="text-align:left;">
                    Barcode:
                </div>
                <div class="editor-field col-xs-6">
                    <input type="text" class="form-control input-lg" id="AddBarcode" />
                </div>
                <div class="col-xs-3 text-left">
                    <a href="#" class="btn btn-success btn-lg" id="btnAddCheck">
                        <span class="fa fa-arrow-circle-o-right " aria-hidden="true" title="Check"></span>
                    </a>
                </div>
            </div>
            <hr />
        </div>

        <div id="DivDelItem" hidden="hidden">


            <div class="form-horizontal row spacer-xs">
                <div class="col-xs-3 text-left">
                    <a href="#" class="btn btn-success btn-lg" id="btnDelBack" tabindex="-1">
                        <span class="fa fa-long-arrow-left" aria-hidden="true"> Back</span>
                    </a>
                </div>

                <div class="col-xs-5 text-center">
                    <h4><label id="lblStockCode3"></label></h4>
                    <h4><label id="lblDesc3"></label></h4>
                </div>
            </div>

            <div class="form-horizontal row spacer-xs">
                <div class="control-label col-xs-2" style="text-align:left;">
                    Reason:
                </div>
                <div class="editor-field col-xs-6">
                    <select id="ddlReason" class="form-control input-group-lg"></select>
                </div>
            </div>

            <div class="form-horizontal row spacer-xs">

                <div class="control-label col-xs-2" style="text-align:left;">
                    Barcode:
                </div>
                <div class="editor-field col-xs-6">
                    <input type="text" class="form-control input-lg" id="DelBarcode" />
                </div>
                <div class="col-xs-3 text-left">
                    <a href="#" class="btn btn-danger btn-lg" id="btnDelCheck">
                        <span class="fa fa-trash-o" aria-hidden="true" title="Check"></span>
                    </a>
                </div>
            </div>
            <hr />
        </div>

    </div>
</fieldset>

<style type="text/css">
    .table-striped tbody tr.highlight td {
        background-color: limegreen;
    }
</style>


@Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
@Scripts.Render("~/Scripts/jquery-ui-1.8.24.min.js")
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">


    function LoadReasons() {
        var $dropdown = $("#ddlReason");
        $.getJSON('WmsPicking/GetReasons', function (data) {
            $.each(data, function () {
            $dropdown.append($("<option />").val(this.Value).text(this.Text));
            });
        });
    }

    function GetNextOrder(WmsId) {

        var NewId,SalesOrderLine;
        $('#errordiv').text("");
        $('#errordiv').removeClass("alert alert-danger");

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetNextOrder","WmsPicking")",
            data: "{'WmsId': '" + WmsId + "', 'SalesOrderLine': '" + $('#LineNo').html() + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: NextOrderSuccess,
            failure: NextOrderError
        });

        function NextOrderSuccess(data) {
            if (typeof data == 'object') {
                $.each(data, function (i, SO) {
                    $('#SalesOrder').html(SO.SalesOrder);
                    $('#LineNo').html(SO.SalesOrderLine);
                    $('#WmsId').html(SO.WmsId);
                    $('#lblStockCode').html(SO.StockCode);
                    $('#lblDesc').html(SO.Description);
                    $('#lblStockCode2').html(SO.StockCode);
                    $('#lblDesc2').html(SO.Description);
                    NewId = SO.WmsId;
                    SalesOrderLine = SO.SalesOrderLine;
                });
                GetScanItems(NewId, SalesOrderLine);
                $('#Barcode').focus();
            }
            else {
                alert(data);
                $('#SalesOrder').html("");
                $('#LineNo').html("");
                $('#WmsId').html("0");
                $('#lblStockCode').html("");
                $('#lblDesc').html("");
                $('#lblStockCode2').html("");
                $('#lblDesc2').html("");
            }

        }

        function NextOrderError(response) {
            $('#errordiv').text(response);
            $('#errordiv').addClass("alert alert-danger");
            alert(response);
        }

    }

    function GetScanItems(WmsId, SalesOrderLine) {

        $('#tblLines tbody').empty();
        var TotalPicked = 0;
        var TotalReleased = 0;
        var ItemsScanned = 0;
        $.getJSON('WmsPicking/GetPickingItems?WmsId=' + WmsId + '&SalesOrderLine=' + SalesOrderLine, function (data) {
                $.each(data, function (i, SO) {
                    if (SO.QuantityPicked >= SO.QuantityReleased) {
                        $('#tblLines tbody').append("<tr class='nr highlight'><td>" + SO.ScanType + "<input type='hidden' value='" + SO.WmsId + "'/></td><td>" + SO.Bin + "</td><td>" + SO.ScanItem + "</td><td>" + SO.QuantityReleased + "</td><td>" + SO.QuantityPicked + "</td><td></td></tr>");
                    }
                    else {
                        $('#tblLines tbody').append("<tr class='nr'><td>" + SO.ScanType + "<input type='hidden' value='" + SO.WmsId + "'/></td><td>" + SO.Bin + "</td><td>" + SO.ScanItem + "</td><td>" + SO.QuantityReleased + "</td><td>" + SO.QuantityPicked + "</td><td><a href='#' class='btn btn-danger btn-xs delLine'><span class='fa fa-trash' aria-hidden='true' title=''></span></a></td></tr>");
                    }
                    TotalPicked += SO.QuantityPicked;
                    TotalReleased += SO.QuantityReleased;
                    ItemsScanned += 1;
                });
            $('#Barcode').focus();
            $('#txtCount').html(TotalPicked.toFixed(2) + "/" + TotalReleased.toFixed(2));
            $('#txtItemScanned').html(ItemsScanned + " Item/s Scanned");
        });


    }

    $(document).ready(function () {

        //alert($(window).width());

        LoadReasons();

        GetNextOrder("0");

        $('#btnAddItem').on('click', function (e) {
            $('#Main').hide();
            $('#DivAddItem').show();
            $('#DivDelItem').hide();
        });

        $('#btnDelItem').on('click', function (e) {
            $('#Main').hide();
            $('#DivDelItem').show();
            $('#DivAddItem').hide();
        });

        $('#tblLines').on("click", ".delLine", function () {

            $('#Main').hide();
            $('#DivDelItem').show();
            $('#DivAddItem').hide();
            var $row = $(this).closest("tr");
            var Barcode = $(this).closest("tr").find('td:eq(2)').text()
            $('#DelBarcode').val(Barcode);
        });

        $('#btnBack').on('click', function (e) {
            $('#Main').show();
            $('#DivAddItem').hide();
            $('#DivDelItem').hide();
        });

        $('#btnDelBack').on('click', function (e) {
            $('#Main').show();
            $('#DivAddItem').hide();
            $('#DivDelItem').hide();
        });


        $('#btnNext').on('click', function (e) {
            GetNextOrder($('#WmsId').html());
        });

        $('#btnCheck').on('click', function (e) {
            showprogressbar();
            $('#errordiv').text("");
            $('#errordiv').removeClass("alert alert-danger");

            var WmsId = $('#WmsId').html()

            var Barcode = "";
            if ($('#Barcode').val().indexOf("|") > 0) {
                var Values = document.getElementById('Barcode').value.split("|");
                if (Values[0] == "B") {
                    Barcode = Values[5];
                }
                else {
                    Barcode = Values[8];
                }
            }
            else {
                Barcode = $('#Barcode').val();
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("ValidateScan","WmsPicking")",
                data: "{'Barcode': '" + Barcode + "', 'WmsId': '" + WmsId + "', 'SalesOrderLine': '" + $('#LineNo').html() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: ScanSuccess,
                failure: ScanError
            });

            function ScanSuccess(data) {
                hideprogressbar();
                if (data == "StockScan") {
                    //User enter Quantity
                }
                else if (data != "") {
                    alert(data);
                }
                else {
                    GetScanItems(WmsId, $('#LineNo').html());
                }
                $('#Barcode').val("");
            }

            function ScanError(data) {
                hideprogressbar();
                alert(response);
            }


        });

        $('#btnCheckout').on('click', function (e) {
            if (confirm('Are you sure you want to checkout?')) {
                // Save it!

                showprogressbar();
                $('#errordiv').text("");
                $('#errordiv').removeClass("alert alert-danger");

                var WmsId = $('#WmsId').html()

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DoBackOrderRelease", "WmsPicking")",
                    data: "{'WmsId': '" + WmsId + "', 'SalesOrderLine': '" + $('#LineNo').html() + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: ScanSuccess,
                    failure: ScanError
                });

                function ScanSuccess(data) {
                    hideprogressbar();

                    $('#errordiv').text(data);
                    $('#errordiv').addClass("alert alert-danger");

                    GetScanItems(WmsId, $('#LineNo').html());

                    $('#Barcode').val("");
                }

                function ScanError(data) {
                    hideprogressbar();
                    alert(response);
                }
            }

        });


        $('#btnAddCheck').on('click', function (e) {
            showprogressbar();
            $('#errordiv').text("");
            $('#errordiv').removeClass("alert alert-danger");

            var WmsId = $('#WmsId').html()

            $.ajax({
                type: "POST",
                url: "@Url.Action("AddItem","WmsPicking")",
                data: "{'Barcode': '" + $('#AddBarcode').val() + "', 'WmsId': '" + WmsId + "', 'SalesOrderLine': '" + $('#LineNo').html() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: AddItemSuccess,
                failure: AddItemError
            });

            function AddItemSuccess(data) {
                hideprogressbar();
                if (data != "") {
                    alert(data);
                }
                else {
                    GetScanItems(WmsId, $('#LineNo').html());
                    $('#Main').show();
                    $('#DivAddItem').hide();
                }
                $('#Barcode').val("");
                $('#AddBarcode').val("");
            }

            function AddItemError(data) {
                hideprogressbar();
                alert(response);
            }


        });


        $('#btnDelCheck').on('click', function (e) {
            showprogressbar();
            $('#errordiv').text("");
            $('#errordiv').removeClass("alert alert-danger");

            var WmsId = $('#WmsId').html()

            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteItem","WmsPicking")",
                data: "{'Barcode': '" + $('#DelBarcode').val() + "', 'WmsId': '" + WmsId + "', 'SalesOrderLine': '" + $('#LineNo').html() + "', 'Reason': '" + $('#ddlReason').val() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: DelItemSuccess,
                failure: DelItemError
            });

            function DelItemSuccess(data) {
                hideprogressbar();
                if (data != "") {
                    alert(data);
                }
                else {
                    GetScanItems(WmsId, $('#LineNo').html());
                    $('#Main').show();
                    $('#DivDelItem').hide();
                }
                $('#Barcode').val("");
                $('#DelBarcode').val("");
            }

            function DelItemError(data) {
                hideprogressbar();
                alert(response);
            }


        });

    });
</script>