@model Megasoft2.ViewModel.PackLabelPrintViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger fade in">
            @Html.ValidationSummary(true)
        </div>
    }
    <div id="errordiv">
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-12">
                <div class="form-group">
                    <h4 class="text-center" style="font-weight:bold;">Pack Label Print</h4>
                </div>
                <hr />

                <div class="form-horizontal row spacer-sm">
                    <div class="form-group">
                        <div class="col-sm-6 ">
                            <div class="control-label col-sm-1" style="text-align:left;">
                                Job:
                            </div>
                            <div class="editor-field col-sm-4">
                                @Html.TextBoxFor(model => model.Job, new { @class = "form-control input-sm" })
                                <input type="hidden" id="copyrow" />
                            </div>
                            <div class="col-sm-1 " style="text-align:left;">
                                <button type="submit" class="btn btn-success btn-sm" id="btnLoad" name="action:LoadBatchID">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-6 ">
                            <div class="control-label col-sm-1" style="text-align:left;">
                                Printer
                            </div>
                            <div class="editor-field col-sm-4">
                                @Html.DropDownListFor(model => model.Printer, new SelectList(ViewBag.Printers, "Value", "Text"), new { @id = "ddlPrinter", @class = "form-control input-sm" })
                            </div>

                            <button type="button" id="btnPrintPackLabel" class="btn btn-default btn-sm " onclick="Print()"><i class="fa fa-print"></i></button>
                        </div>

                    </div>
                </div>

                <div class="form-horizontal row">
                    <input type="text" class="form-control input-sm" id="txtSearch" placeholder="search" />
                    <table class="table table-hover table-condensed table-responsive table-bordered table-striped text-nowrap" id="tblLabelInfo">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="SelectAll" />All</th>
                                <th>Outer Label</th>
                                <th>Pack Size</th>
                                <th>No. of Labels</th>
                                <th>Extruder No.</th>
                                <th>Extruder Roll</th>
                                <th>Printer Roll No.</th>
                                <th>OP Code</th>
                                <th>Printer No.</th>
                                <th>Copy</th>
                                <th>Paste</th>
                            </tr>
                        </thead>

                        <tbody>

                            @if (Model != null)
                            {
                                if (Model.LabelDetails != null)
                                {
                                    if (Model.LabelDetails.Count() > 0)
                                    {
                                        for (int i = 0; i < Model.LabelDetails.Count(); i++)
                                        {
                                            <tr class="nr">
                                                <td><input type="checkbox" id="Selected_@i" class="chkbLabelInfo" /></td>
                                                <td>@Model.LabelDetails[i].BatchId</td>
                                                <td>@Model.LabelDetails[i].PackSize</td>
                                                <td>@Model.LabelDetails[i].NoOfLabels</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.LabelDetails[i].ExtruderNo, new { @class = "form-control input-sm" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.LabelDetails[i].ExtruderRoll, new { @class = "form-control input-sm" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.LabelDetails[i].PrintRoll, new { @class = "form-control input-sm" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.LabelDetails[i].OpCode, new { @class = "form-control input-sm" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.LabelDetails[i].PrinterOp, new { @class = "form-control input-sm" })
                                                </td>
                                                <th>
                                                    <a class='copyrow btn btn-default btn-xs'><span class='fa fa-copy' aria-hidden='true' title='Copy Line'></span></a>
                                                </th>
                                                <th>
                                                    <a class='pasterow btn btn-warning btn-xs'><span class='fa fa-paste' aria-hidden='true' title='Paste Line'></span></a>
                                                </th>

                                            </tr>
                                        }

                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="11" class="text-center bg-primary">
                                                No information available
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="11" class="text-center bg-primary">
                                            No information available
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" class="text-center bg-primary">
                                        No information available
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
}

<link href="~/Content/DataTable/datatables.css" rel="stylesheet">

@Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
@Scripts.Render("~/Content/DataTable/datatables.js")
<script type="text/javascript">

    var table = $('#tblLabelInfo').DataTable({
        paging: false,
        "rowReorder": false,
        "ordering": false,
        "scrollY": 400,
        //"scrollX": true,
        //order: [[1, 'asc']],
        "orderClasses": false,
        "searching": false

    });


    $(document).ready(function () {

        $('#wrapper').addClass('toggled-2');


        //change page title text
        $('#megasoftTitle').text(' Megasoft - Pack Label Print');
        var span = document.getElementById("megasoftTitle");
        span.style.fontSize = "x-small";

        $('#txtSearch').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            var $rows = $('#tblLabelInfo .nr');
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });


        $('#btnPrintPackLabel').on("click", function () {
            $('#txtSearch').val("");
            var $rows = $('#tblLabelInfo .nr');
            $rows.show();
        });

    });

    $('#SelectAll').change(function () {
        if ($('#SelectAll').is(":checked")) {
            $(".chkbLabelInfo").prop('checked', true);
        }
        else {
            $(".chkbLabelInfo").prop('checked', false);
        }
    })

    $('#tblLabelInfo').on("click", ".copyrow", function () {
        var row_index = $(this).closest("tr").index();
        $('#copyrow').val(row_index);
        $(this).closest("tr").find('input[type=checkbox]').prop('checked', true);

        $('#txtSearch').val("");
        var $rows = $('#tblLabelInfo .nr');
        $rows.show()

        var scroll = parseInt(row_index) * 40;
        $('.dataTables_scrollBody').scrollTop(scroll)
    });

    $('#tblLabelInfo').on("click", ".pasterow", function () {
        var copy_row_index = $('#copyrow').val();
        $(this).closest("tr").find('td:eq(4)').find('input[type=text]').val($('#tblLabelInfo > tbody').find('tr').eq(copy_row_index).find('td:eq(4)').find('input[type=text]').val());
        $(this).closest("tr").find('td:eq(5)').find('input[type=text]').val($('#tblLabelInfo > tbody').find('tr').eq(copy_row_index).find('td:eq(5)').find('input[type=text]').val());
        $(this).closest("tr").find('td:eq(6)').find('input[type=text]').val($('#tblLabelInfo > tbody').find('tr').eq(copy_row_index).find('td:eq(6)').find('input[type=text]').val());
        $(this).closest("tr").find('td:eq(7)').find('input[type=text]').val($('#tblLabelInfo > tbody').find('tr').eq(copy_row_index).find('td:eq(7)').find('input[type=text]').val());
        $(this).closest("tr").find('td:eq(8)').find('input[type=text]').val($('#tblLabelInfo > tbody').find('tr').eq(copy_row_index).find('td:eq(8)').find('input[type=text]').val());
        $(this).closest("tr").find('input[type=checkbox]').prop('checked', true);
    });

    function Print() {
        var selectedList = [];
        let rowCount = $('#tblLabelInfo > tbody > tr').length;
        for (var i = 0; i < rowCount; i++) {
            var checkbox = $('#Selected_' + i).is(':checked');
            if (checkbox == true) {
                var myObject = new Object();
                myObject.Job = $('#Job').val();
                myObject.BatchId = $('#tblLabelInfo > tbody').find('tr').eq(i).find('td:eq(1)').text();
                myObject.PackSize = $('#tblLabelInfo > tbody').find('tr').eq(i).find('td:eq(2)').text();
                myObject.NoOfLabels = $('#tblLabelInfo > tbody').find('tr').eq(i).find('td:eq(3)').text();
                myObject.ExtruderNo = $('#tblLabelInfo > tbody').find('tr').eq(i).find('td:eq(4)').find('input[type=text]').val();
                myObject.ExtruderRoll = $('#tblLabelInfo > tbody').find('tr').eq(i).find('td:eq(5)').find('input[type=text]').val();
                myObject.PrintRoll = $('#tblLabelInfo > tbody').find('tr').eq(i).find('td:eq(6)').find('input[type=text]').val();
                myObject.OpCode = $('#tblLabelInfo > tbody').find('tr').eq(i).find('td:eq(7)').find('input[type=text]').val();
                myObject.PrinterOp = $('#tblLabelInfo > tbody').find('tr').eq(i).find('td:eq(8)').find('input[type=text]').val();
                myObject.Printer = $('#ddlPrinter').val();
                selectedList.push(myObject);
            }
        }

        if (selectedList.length == 0) {
            alert("No items were selected");
            return false;
        }
        var exportdata = JSON.stringify({ details: JSON.stringify(selectedList) });

        $.ajax({
            type: "POST",
            url: "@Url.Action("Print","PackLabelPrint")",
            data: exportdata,
            contentType: "application/json; chaarset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: OnErrorCall
        });

        function OnSuccess(response) {
            $('#errordiv').text(response);
            $('#errordiv').addClass("alert alert-danger");
        }

        function OnErrorCall(response) {
            $('#errordiv').text(response);
            $('#errordiv').addClass("alert alert-danger");
        }
    }

</script>