@model IEnumerable<Megasoft2.mtReportMaster>

@{
    ViewBag.Title = "Index";
}

<h4 style="font-weight:bold;" class="text-center">Report Setup</h4><hr />

<p>
    <a href="@Url.Action("Create", "Report")" class="btn btn-warning">
        <span class="fa fa-file-o" aria-hidden="true" title="Add New User"> Add Report</span>
    </a>
    <a href="@Url.Action("ReportSetup", "Report")" class="btn btn-default">
        <span class="fa fa-refresh" aria-hidden="true" title="Refresh"> Refresh</span>
    </a>
</p>
<div class="form-group">
    <div class="col-sm-12">
        <input type="text" id="txtSearch" class="form-control input-sm col-sm-12" placeholder="search" autofocus />

    </div>

    <hr />
    <div class="col-sm-14">
        <table class="tblReport table table-hover table-striped table-condensed table-responsive table-bordered sortable" id="tblReport" style="table-layout:fixed;">
            <thead class="style1">
                <tr class="nowrap">

                    <th style="width:250px">
                       Display Name
                    </th>
                    <th style="width:200px">
                        Report
                    </th>

                    <th style="width:200px">
                       Program
                    </th>
                    <th style="width:200px">
                        Report Group
                    </th>
                    <th style="width:500px">
                        Report Path
                    </th>
                   
                    <th style="width:100px"></th>
                </tr>
            <tbody>
                @foreach (var item in Model)
                {


                    <tr class="nr">
                        <td>
                            <a href="@Url.Action("Create", "Report", new { Program = item.Program,Report = item.Report})">@Html.DisplayFor(model => item.DisplayName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Report)
                            @Html.HiddenFor(model => item.Report)
                        </td>

                        <td>
                            @Html.DisplayFor(model => item.Program)
                            @Html.HiddenFor(model => item.Program)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ReportGroup)
                            @Html.HiddenFor(model => item.ReportGroup)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ReportPath)
                            @Html.HiddenFor(model => item.ReportPath)
                        </td>
                       
                        <td>
                            <a href="@Url.Action("Create", "Report", new { Program = item.Program,Report = item.Report })" class="btn btn-primary btn-xs">
                                <span class="fa fa-pencil-square-o" aria-hidden="true" title="Edit Report Info"></span>
                            </a>                         
                            <a href="@Url.Action("Delete", "Report", new { Program = item.Program,Report = item.Report })" class="modal-link btn btn-danger btn-xs">
                                <span class="fa fa-trash-o" aria-hidden="true" title="Delete Report"></span>
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {

    <style type="text/css">
        .nowrap {
            white-space: nowrap;
        }
    </style>

    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.24.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/UltimateScrolling/Sortable.js")
    @Scripts.Render("~/Content/UltimateScrolling/UltimateScrollingTable.js")



    <script type="text/javascript">

        $(function () {
            $('#txtSearch').focus();
            $('#txtSearch').keyup(function () {
                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
                var $rows = $('#tblReport .nr');
                $rows.show().filter(function () {
                    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                    return !~text.indexOf(val);
                }).hide();
            });

            UltimateScrollingTable('tblReport', 700, 1500, 1);
        });
    </script>
}
