@model Megasoft2.ViewModel.RequisitionEnquiryViewModel
@{
    ViewBag.Title = "Index";
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmEnquiry" }))
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger fade in">
            @Html.ValidationSummary(true)
        </div>
    }
    <fieldset>

        <div class="bs-example">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading" style="max-height: 52px;">
                    <div class="row">
                        &nbsp&nbsp
                        <div class="btn-group btn-breadcrumb">
                            <a href="@Url.Action("Home", "Home")" class="btn btn-default"><i class="glyphicon glyphicon-home"></i> Requsition Enquiries</a>
                            <a href="@Url.Action("Index", "Requisition")" class="btn btn-default">Requisitions</a>


                        </div>

                        <div class="pull-right">

                            <div class="col-lg-6 text-right">
                                <a href="@Url.Action("Create", "Requisition")" class="btn btn-default btn-sm">
                                    <span class="fa fa-plus-square-o" aria-hidden="true" title="New"><span style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-size:12px;">  New</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                
                <div class="form-horizontal row ">
                    
                    <div class="col-md-4">
                        <label class="col-sm-4 control-label input-sm-label" style="text-align:left;">Req/PO</label>
                        <div class="input-group col-sm-8">
                            @Html.TextBoxFor(model => model.ReqOrPONumber, new { @class = " form-control input-sm", @placeholder = "Completed PO/Req" })
                            <div class="input-group-btn">
                                <span class="input-group-btn ">
                                    <button class="btn btn-default btn-sm" id="btnLoadReq" type="submit" aria-label="Left Align" name="action:ReqLoad" value="ReqLoad">
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="panel-body">
                    <div class="form-horizontal row spacer">
                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-lg-12">
                                    @*Grid goes here*@
                                    <div class="table-responsive text-centre">
                                        <table class="table table-hover table-striped  table-condensed table-responsive table-bordered display nowrap" id="tblLines">
                                            <thead>
                                                <tr class="nowrap">
                                                    <th>Requisition</th>
                                                    <th>PO</th>
                                                    <th>Status</th>
                                                    <th>Originator</th>
                                                    <th>Holder</th>
                                                    <th>Date Req. Raised</th>
                                                    <th>Req. Value</th>
                                                    <th>Branch</th>
                                                    <th>Cost Centre</th>
                                                    <th>Due Date</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody class="datarow">
                                                @if (Model != null)
                                                {
                                                    if (Model.Enquiry != null)
                                                    {
                                                        for (int i = 0; i < Model.Enquiry.Count(); i++)
                                                        {
                                                            <tr class="nr nowrap striped">
                                                                <td class="rowc">
                                                                    <a href="@Url.Action("Create", "Requisition", new { Requisition = Model.Enquiry[i].Requisition })">
                                                                        @Html.DisplayFor(modelItem => Model.Enquiry[i].Requisition)
                                                                    </a>
                                                                    @Html.HiddenFor(model => Model.Enquiry[i].Requisition)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => Model.Enquiry[i].PurchaseOrder)
                                                                    @Html.HiddenFor(model => Model.Enquiry[i].PurchaseOrder)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => Model.Enquiry[i].ReqnStatus)
                                                                    @Html.HiddenFor(model => Model.Enquiry[i].ReqnStatus)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => Model.Enquiry[i].Originator)
                                                                    @Html.HiddenFor(model => Model.Enquiry[i].Originator)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => Model.Enquiry[i].CurrentHolder)
                                                                    @Html.HiddenFor(model => Model.Enquiry[i].Holder)
                                                                </td>
                                                                <td>
                                                                    @Convert.ToDateTime(@Model.Enquiry[i].DateReqnRaised).ToString("yyyy-MM-dd")
                                                                    @Html.HiddenFor(model => Model.Enquiry[i].DateReqnRaised)
                                                                </td>
                                                                <td align="right">
                                                                    @Html.DisplayFor(model => Model.Enquiry[i].ReqnValue)
                                                                    @Html.HiddenFor(model => Model.Enquiry[i].ReqnValue)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => Model.Enquiry[i].Branch)
                                                                    @Html.HiddenFor(model => Model.Enquiry[i].Branch)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => Model.Enquiry[i].CostCentre)
                                                                    @Html.HiddenFor(model => Model.Enquiry[i].CostCentre)
                                                                </td>
                                                                <td>
                                                                    @Convert.ToDateTime(@Model.Enquiry[i].DueDate).ToString("yyyy-MM-dd")
                                                                    @Html.HiddenFor(model => Model.Enquiry[i].DueDate)
                                                                </td>
                                                                
                                                            </tr>
                                                        }
                                                    }

                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}


<link href="~/Content/DataTable/datatables.css" rel="stylesheet">


@Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
@Scripts.Render("~/Content/DataTable/datatables.js")

<script type="text/javascript">
    $("#tblLines").DataTable();
</script>
