@model Megasoft2.ViewModel.ExpenseIssue
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <div class="form-group " style="margin-left:-20px">
        <div class="form-horizontal row spacer-xs" id="firstrow">

            <div id="errordiv" class="col-xs-10" style="font-size:xx-small">

            </div>
        </div>
    </div>

    @if (ViewBag.ProgramMode == "")
    {
        <div class="form-horizontal row spacer">

            <div class="editor-field col-xs-8">
                @Html.HiddenFor(model => model.TransactionDate, "{0:yyyy-MM-dd}")
            </div>
        </div>

        <div class="form-horizontal row spacer-xs">

            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Cost Centre
            </div>
            <div class="editor-field col-xs-4">
                @Html.DropDownListFor(model => model.CostCentre, new SelectList(ViewBag.CostCentreList, "CostCentre", "Description"), new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>
        </div>
        <div class="form-horizontal row spacer-xs">

            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Work Centre
            </div>
            <div class="editor-field col-xs-4">
                @Html.DropDownListFor(model => model.WorkCentre, new SelectList(ViewBag.WorkCentreList, "WorkCentre", "Description"), new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>

        </div>

        <div class="form-horizontal row spacer-xs">

            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Warehouse:
            </div>
            <div class="editor-field col-xs-4">
                @Html.DropDownListFor(model => model.Warehouse, new SelectList(ViewBag.WarehouseList, "Warehouse", "Description"), new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>
        </div>

        <div class="form-horizontal row spacer-xs" id="bin">

            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Bin:
            </div>
            <div class="editor-field col-xs-4">
                @Html.TextBoxFor(model => model.Bin, new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>
        </div>

        <div class="form-horizontal row spacer-xs">

            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Employee:
            </div>
            <div class="editor-field col-xs-4">
                @Html.DropDownListFor(model => model.Employee, new SelectList(ViewBag.EmployeeList, "Employee", "Description"), new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>
        </div>

        <div class="form-horizontal row spacer-xs">

            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Barcode:
            </div>
            <div class="editor-field col-xs-4">
                @Html.TextBoxFor(model => model.Barcode, new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>
            <div class="col-xs-1 text-left">
                <a href="#" class="btn btn-success btn-xs" id="btnCheck">
                    <span class="fa fa-arrow-circle-o-right " aria-hidden="true" title="Check"></span>
                </a>
            </div>
        </div>

        <div class="form-horizontal row spacer-xs">

            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                StockCode:
            </div>
            <div class="editor-field col-xs-4">
                @Html.TextBoxFor(model => model.StockCode, new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>
        </div>

        <div class="form-horizontal row spacer-xs">

            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                StockUom:
            </div>
            <div class="editor-field col-xs-4">
                @Html.TextBoxFor(model => model.StockUom, new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
                @Html.ValidationMessageFor(model => model.StockUom)
            </div>

        </div>


        <div class="form-horizontal row spacer-xs">

            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Lot
            </div>
            <div class="editor-field col-xs-4">
                @Html.TextBoxFor(model => model.Lot, new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
                @Html.ValidationMessageFor(model => model.Lot)
            </div>

        </div>
        <div class="form-horizontal row spacer-xs">

            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Quantity
            </div>
            <div class="editor-field col-xs-4">
                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
            <div class="col-xs-1 text-left">
                <a href="#" class="btn btn-primary btn-xs" id="btnAdd" onclick="AddLine();">
                    <span class="fa fa-plus" aria-hidden="true" title="Add"></span>
                </a>
            </div>
        </div>

        <div class="AnalysisCode AnalysisCode1 form-horizontal row spacer-xs">
            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Analysis Code 1
            </div>
            <div class="editor-field col-xs-4">
                @Html.DropDownListFor(model => model.AnalysisCode1, new SelectList(ViewBag.AnalysisCode1, "AnalysisCode", "Description"), new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>
        </div>

        <div class="AnalysisCode AnalysisCode2 form-horizontal row spacer-xs">
            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Analysis Code 2
            </div>
            <div class="editor-field col-xs-4">
                @Html.DropDownListFor(model => model.AnalysisCode2, new SelectList(ViewBag.AnalysisCode2, "AnalysisCode", "Description"), new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>
        </div>

        <div class="AnalysisCode AnalysisCode3 form-horizontal row spacer-xs">
            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Analysis Code 3
            </div>
            <div class="editor-field col-xs-4">
                @Html.DropDownListFor(model => model.AnalysisCode3, new SelectList(ViewBag.AnalysisCode3, "AnalysisCode", "Description"), new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>
        </div>

        <div class="AnalysisCode AnalysisCode4 form-horizontal row spacer-xs">
            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Analysis Code 4
            </div>
            <div class="editor-field col-xs-4">
                @Html.DropDownListFor(model => model.AnalysisCode4, new SelectList(ViewBag.AnalysisCode4, "AnalysisCode", "Description"), new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>
        </div>

        <div class="AnalysisCode AnalysisCode5 form-horizontal row spacer-xs">
            <div class="control-label col-xs-2" style="text-align:left;font-size:xx-small">
                Analysis Code 5
            </div>
            <div class="editor-field col-xs-4">
                @Html.DropDownListFor(model => model.AnalysisCode5, new SelectList(ViewBag.AnalysisCode5, "AnalysisCode", "Description"), new { @class = "form-control input-xs", @style = "font-size:xx-small;" })
            </div>
        </div>

        <div class="form-horizontal row text-center col-xs-8">
            <div class="control-label col-xs-1" style="text-align:left;font-size:xx-small;" id="txtCount">

            </div>
            <a href="#" class="btn btn-primary btn-xs" onclick="PostExpenseIssue();" id="btnPost">
                <span class="fa fa-save" aria-hidden="true" title="Post"></span>
            </a>

        </div>
        <div class="form-horizontal row spacer-xs col-xs-8">
            <table class="table table-hover table-striped table-condensed table-responsive table-bordered" id="tblLines" style="font-size:xx-small">
                <thead>
                    <tr>
                        <th>StockCode</th>
                        <th>Lot</th>
                        <th>Qty</th>
                        <th style="display:none;">Analysis Code 1</th>
                        <th style="display:none;">Analysis Code 2</th>
                        <th style="display:none;">Analysis Code 3</th>
                        <th style="display:none;">Analysis Code 4</th>
                        <th style="display:none;">Analysis Code 5</th>
                        <th>AnalysisCodes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    }
    else
    {
        <div class="form-horizontal row spacer">
            <h4 class="text-center" style="font-weight:bold;">Expense Issue</h4>
        </div>
        <hr />
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="form-horizontal row spacer">

                <div class="control-label col-xs-4" style="text-align:left;">
                    Transaction Date
                </div>
                <div class="editor-field col-xs-8">
                    @Html.TextBoxFor(model => model.TransactionDate, "{0:yyyy-MM-dd}", new { @class = "datepicker datepicker-inline form-control input-sm" })
                </div>
            </div>

            <div class="form-horizontal row spacer">

                <div class="control-label col-xs-4" style="text-align:left;">
                    Cost Centre
                </div>
                <div class="editor-field col-xs-8">
                    @Html.DropDownListFor(model => model.CostCentre, new SelectList(ViewBag.CostCentreList, "CostCentre", "Description"), new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="form-horizontal row spacer">

                <div class="control-label col-xs-4" style="text-align:left;">
                    Work Centre
                </div>
                <div class="editor-field col-xs-8">
                    @Html.DropDownListFor(model => model.WorkCentre, new SelectList(ViewBag.WorkCentreList, "WorkCentre", "Description"), new { @class = "form-control input-sm" })
                </div>

            </div>

            <div class="form-horizontal row spacer">

                <div class="control-label col-xs-4" style="text-align:left;">
                    Warehouse:
                </div>
                <div class="editor-field col-xs-8">
                    @Html.DropDownListFor(model => model.Warehouse, new SelectList(ViewBag.WarehouseList, "Warehouse", "Description"), new { @class = "form-control input-sm" })
                </div>
            </div>

            <div class="form-horizontal row spacer" id="bin">

                <div class="control-label col-xs-4" style="text-align:left;">
                    Bin:
                </div>
                <div class="editor-field col-xs-8">
                    @Html.TextBoxFor(model => model.Bin, new { @class = "form-control input-sm" })
                </div>
            </div>

            <div class="form-horizontal row spacer">

                <div class="control-label col-xs-4" style="text-align:left;">
                    Employee:
                </div>
                <div class="editor-field col-xs-8">
                    @Html.DropDownListFor(model => model.Employee, new SelectList(ViewBag.EmployeeList, "Employee", "Description"), new { @class = "form-control input-sm" })
                </div>
            </div>


            <div class="form-horizontal row spacer">

                <div class="control-label col-xs-4" style="text-align:left;">
                    StockCode:
                </div>
                <div class="editor-field col-xs-8">
                    <div class="input-group add-on">
                        @Html.TextBoxFor(model => model.StockCode, new { @class = "form-control input-sm" })
                        <input type="hidden" id="Barcode" />
                        <div class="input-group-btn">
                            <a href="@Url.Action("StockCodeSearch", "WhseManExpenseIssue")" class="modal-link btn btn-default btn-sm"><i class="glyphicon glyphicon-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal row spacer">

                <div class="control-label col-xs-4" style="text-align:left;">
                    Lot/Serial
                </div>
                <div class="editor-field col-xs-8">
                    @Html.TextBoxFor(model => model.Lot, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Lot)
                </div>

            </div>

            <div class="AnalysisCode AnalysisCode1 form-horizontal row spacer">
                <div class="control-label col-xs-4" style="text-align:left;">
                    Analysis Code 1
                </div>
                <div class="editor-field col-xs-8">
                    @Html.DropDownListFor(model => model.AnalysisCode1, new SelectList(ViewBag.AnalysisCode1, "AnalysisCode", "Description"), new { @class = "form-control input-sm" })
                </div>
            </div>

            <div class="AnalysisCode AnalysisCode2 form-horizontal row spacer">
                <div class="control-label col-xs-4" style="text-align:left;">
                    Analysis Code 2
                </div>
                <div class="editor-field col-xs-8">
                    @Html.DropDownListFor(model => model.AnalysisCode2, new SelectList(ViewBag.AnalysisCode2, "AnalysisCode", "Description"), new { @class = "form-control input-sm" })
                </div>
            </div>

            <div class="AnalysisCode AnalysisCode3 form-horizontal row spacer">
                <div class="control-label col-xs-4" style="text-align:left;">
                    Analysis Code 3
                </div>
                <div class="editor-field col-xs-8">
                    @Html.DropDownListFor(model => model.AnalysisCode3, new SelectList(ViewBag.AnalysisCode3, "AnalysisCode", "Description"), new { @class = "form-control input-sm" })
                </div>
            </div>

            <div class="AnalysisCode AnalysisCode4 form-horizontal row spacer">
                <div class="control-label col-xs-4" style="text-align:left;">
                    Analysis Code 4
                </div>
                <div class="editor-field col-xs-8">
                    @Html.DropDownListFor(model => model.AnalysisCode4, new SelectList(ViewBag.AnalysisCode4, "AnalysisCode", "Description"), new { @class = "form-control input-sm" })
                </div>
            </div>

            <div class="AnalysisCode AnalysisCode5 form-horizontal row spacer">
                <div class="control-label col-xs-4" style="text-align:left;">
                    Analysis Code 5
                </div>
                <div class="editor-field col-xs-8">
                    @Html.DropDownListFor(model => model.AnalysisCode5, new SelectList(ViewBag.AnalysisCode5, "AnalysisCode", "Description"), new { @class = "form-control input-sm" })
                </div>
            </div>

            <div class="form-horizontal row spacer">

                <div class="control-label col-xs-4" style="text-align:left;">
                    Quantity
                </div>
                <div class="editor-field col-xs-5">
                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
                <div class="col-xs-3 text-right">
                    <a href="#" class="btn btn-warning btn-sm" id="btnAdd" onclick="AddLine();">
                        <span class="fa fa-plus" aria-hidden="true" title="Add"> Add Line</span>
                    </a>
                </div>
            </div>
            <hr />
            <div class="form-horizontal row text-center col-xs-12">
                <div class="control-label col-xs-1" style="text-align:left;" id="txtCount">

                </div>
                <a href="#" class="btn btn-primary btn-sm" onclick="PostExpenseIssue();" id="btnPost">
                    <span class="fa fa-save" aria-hidden="true" title="Post"> Post</span>
                </a>

            </div>
            <div class="form-horizontal row spacer col-xs-12">
                <table class="table table-hover table-striped table-condensed table-responsive table-bordered" id="tblLines">
                    <thead>
                        <tr>
                            <th>StockCode</th>
                            <th>Lot</th>
                            <th>Qty</th>
                            <th style="display:none;">Analysis Code 1</th>
                            <th style="display:none;">Analysis Code 2</th>
                            <th style="display:none;">Analysis Code 3</th>
                            <th style="display:none;">Analysis Code 4</th>
                            <th style="display:none;">Analysis Code 5</th>
                            <th>Analysis Codes</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3"></div>
    }

</fieldset>

@section Scripts {



@Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
@Scripts.Render("~/Scripts/jquery-ui-1.8.24.min.js")
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(".datepicker").datepicker({ format: 'yyyy-mm-dd', autoclose: true, todayBtn: 'linked' });

    $('.AnalysisCode').hide();

    function ValidateBarcode() {
        $('#errordiv').text("");
        $('#errordiv').removeClass("alert alert-danger");

        let str = document.getElementById('Barcode').value;
        //If Megasoft Barcode
        if (str.indexOf("|") > 0) {
            let Values = document.getElementById('Barcode').value.split("|");
            document.getElementById('StockCode').value = Values[0];
            document.getElementById('Lot').value = Values[4];
            document.getElementById('Quantity').value = Values[2];


            let mydata = [];
            let myObject = new Object();

            myObject.Warehouse = $('#Warehouse').val();
            myObject.StockCode = Values[0];
            myObject.Lot = Values[4];
            myObject.Quantity = Values[2];
            myObject.CostCentre = $('#CostCentre').val();
            myObject.WorkCentre = $('#WorkCentre').val();

            mydata.push(myObject);

            let myString = JSON.stringify({ details: JSON.stringify(mydata) });
            let exportdata = myString;

            $.ajax({
                type: "POST",
                url: '@Url.Action("ValidateDetails", "WhseManExpenseIssue")',
                data: exportdata,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: OnErrorCall
            });

            function OnSuccess(response) {
                if (response != "") {

                    let tempResponse = response.split(':');
                    response = tempResponse[0];
                    if (response == "Analysis Required") {

                        //pass exportdata to fucuntion to get cat function
                        GetAnalysisCode(exportdata);

                        //show and hide neccessary Analysis Code fields
                        ShowGlAnalysisCodeFields(tempResponse[1]);
                    }
                    else {
                        ShowGlAnalysisCodeFields(0);
                    }
                }
                else {
                    document.getElementById('Barcode').value = "";
                    document.getElementById('StockCode').value = "";
                    document.getElementById('Lot').value = "";
                    document.getElementById('Quantity').value = "";
                    $('#errordiv').text(response);
                    $('#errordiv').addClass("alert alert-danger");
                    document.getElementById('Barcode').focus();
                    document.getElementById("Quantity").focus();
                    GetUom(document.getElementById('StockCode').value);
                    $('.AnalysisCode').hide();

                }

            }

            function OnErrorCall(response) {
                if (response != "") {
                    document.getElementById('Barcode').value = "";
                    document.getElementById('StockCode').value = "";
                    document.getElementById('Lot').value = "";
                    document.getElementById('Quantity').value = "";
                    $('#errordiv').text(response);
                    $('#errordiv').addClass("alert alert-danger");
                    document.getElementById('Barcode').focus();
                }
                else {
                    document.getElementById("btnPost").focus();
                }
            }
        }
        else {

            alert("Invalid barcode scanned!");
        }
    }

    function ShowGlAnalysisCodeFields(MaxCode) {

        for (let i = 0; i < 5; i++) {

            //show fields
            if (i < MaxCode) {
                $('.AnalysisCode' + (i+1)).show();
            }

            //hide fields and remove values
            if (i >= MaxCode) {
                $('.AnalysisCode' + (i + 1)).hide();
                $('.AnalysisCode' + (i + 1)).val('');
            }

        }

    }

    function checkMultiBins(Warehouse) {
        let mydata = [];
        let myObject = new Object();
        myObject.Warehouse = Warehouse;

        mydata.push(myObject);

        let myString = JSON.stringify({ details: JSON.stringify(mydata) });
        let exportdata = myString;

        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckWarehouseMultiBin", "WhseManExpenseIssue")',
            data: exportdata,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: OnErrorCall
        });

        function OnSuccess(response) {
            if (response == "Y") {

                $('#bin').show();
            }
            else {
                $('#bin').hide();
            }

        }

        function OnErrorCall(response) {
            if (response != "") {
                $('#errordiv').text(response);
                $('#errordiv').addClass("alert alert-danger");
            }
        }
    }



    function AddLine() {
        $('#errordiv').text("");
        $('#errordiv').removeClass("alert alert-danger");
        showprogressbar();


        let Bin = document.getElementById('Bin').value;
        let StockCode = document.getElementById('StockCode').value;
        let Lot = document.getElementById('Lot').value;
        let Quantity = document.getElementById('Quantity').value;
        let AddReel = true;
        if (Quantity.trim() == "") {
            alert("Quantity missing.");
            AddReel = false;
        }

        $("#tblLines > tbody > tr ").each(function (i, el) {
            let $tds = $(this).find('td');
            let ReelNumber = $tds.eq(1).text();
            if (Lot == ReelNumber) {
                AddReel = false;
                alert("Reel " + Lot + " already scanned.");
                return;
            }
        });

        if (AddReel == true) {

            let AnalysisCodesText = "";

            if ($('#AnalysisCode1').val() != "") {
                AnalysisCodesText += $("#AnalysisCode1").val() + "|";
            }

            if ($('#AnalysisCode2').val() != "") {
                AnalysisCodesText += $("#AnalysisCode2").val() + "|";
            }

            if ($('#AnalysisCode3').val() != "") {
                AnalysisCodesText += $("#AnalysisCode3").val() + "|";
            }

            if ($('#AnalysisCode4').val() != "") {
                AnalysisCodesText += $("#AnalysisCode4").val() + "|";
            }

            if ($('#AnalysisCode5').val() != "") {
                AnalysisCodesText += $("#AnalysisCode5").val() + "|";
            }

            $('#tblLines tbody').append("<tr class='nr'><td>" + StockCode +
                "</td><td><input type='hidden' value='" + Bin + "'/>" + Lot + "</td><td>" + Quantity + "</td>" +
                "<td style='display: none;'>" + $("#AnalysisCode1").val() + "</td>" +
                "<td style='display: none;'>" + $("#AnalysisCode2").val() + "</td>" +
                "<td style='display: none;'>" + $("#AnalysisCode3").val() + "</td>" +
                "<td style='display: none;'>" + $("#AnalysisCode4").val() + "</td>" +
                "<td style='display: none;'>" + $("#AnalysisCode5").val() + "</td>" +
                "<td>" + AnalysisCodesText + "</td>" +
                "<td><a href='#' class='delLine btn btn-danger btn-xs' tabindex='-1'><span class='fa fa-trash-o' aria-hidden='true' title='Delete Line' tabindex='-1'></span></a></td></tr>");

            $('#CostCentre').attr("disabled", "disabled");
            $('#WorkCentre').attr("disabled", "disabled");
            $('#Warehouse').attr("disabled", "disabled");
        }


        document.getElementById('Barcode').value = "";
        document.getElementById('StockCode').value = "";
        document.getElementById('Lot').value = "";
        document.getElementById('Quantity').value = "";
        document.getElementById('Barcode').focus();

        //clear analysis code drop downs from screen
        ShowGlAnalysisCodeFields(0);

        let rows = document.getElementById('tblLines').getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
        $('#txtCount').html('Total:' + rows);

        hideprogressbar();
    }


    function GetWorkCentres(CostCentre) {

        let myString = JSON.stringify({
            CostCentre: CostCentre
        });
        let exportdata = myString;

        $.ajax({
            type: "POST",
            url:"@Url.Action("GetWorkCentres", "WhseManExpenseIssue")",
            contentType: "application/json; charset=utf-8",
            data: exportdata,
            dataType: "json",
            success: OnSuccess,
            failure: function () {
                alert(response);
            }
        });
        function OnSuccess(response) {
            if (response) {
                let ddlWorkCentre = $("#WorkCentre");

                ddlWorkCentre.empty();
                $("#WorkCentre").prepend("<option value='' selected='selected'></option>");

                $.each(response, function () {
                    ddlWorkCentre.append($("<option></option>").val(this['WorkCentre'].trim()).html(this['Description']));
                });
            }
        }

    }

    function GetAnalysisCode(exportdata) {

        $.ajax({
            type: "POST",
            url:"@Url.Action("GetAnalysisCode", "WhseManExpenseIssue")",
            contentType: "application/json; charset=utf-8",
            data: exportdata,
            dataType: "json",
            success: OnSuccess,
            failure: function () {
                alert(response);
            }
        });

        function OnSuccess(response) {
            if (response) {
                let ddlAnalysisCode1 = $("#AnalysisCode1");
                let ddlAnalysisCode2 = $("#AnalysisCode2");
                let ddlAnalysisCode3 = $("#AnalysisCode3");
                let ddlAnalysisCode4 = $("#AnalysisCode4");
                let ddlAnalysisCode5 = $("#AnalysisCode5");

                //clear all Analysis Code drop down lists
                ddlAnalysisCode1.empty();
                $("#AnalysisCode1").prepend("<option value='' selected='selected'></option>");

                ddlAnalysisCode2.empty();
                $("#AnalysisCode2").prepend("<option value='' selected='selected'></option>");

                ddlAnalysisCode3.empty();
                $("#AnalysisCode3").prepend("<option value='' selected='selected'></option>");

                ddlAnalysisCode4.empty();
                $("#AnalysisCode4").prepend("<option value='' selected='selected'></option>");

                ddlAnalysisCode5.empty();
                $("#AnalysisCode5").prepend("<option value='' selected='selected'></option>");

                //assign Analysis Codes by type
                $.each(response, function (key, value) {

                    if (value.AnalysisType == '1') {
                        ddlAnalysisCode1.append($("<option></option>").val(value.AnalysisCode.trim()).html(value.Description));
                    }

                    if (value.AnalysisType == '2') {
                        ddlAnalysisCode2.append($("<option></option>").val(value.AnalysisCode.trim()).html(value.Description));
                    }

                    if (value.AnalysisType == '3') {
                        ddlAnalysisCode3.append($("<option></option>").val(value.AnalysisCode.trim()).html(value.Description));
                    }

                    if (value.AnalysisType == '4') {
                        ddlAnalysisCode4.append($("<option></option>").val(value.AnalysisCode.trim()).html(value.Description));
                    }

                    if (value.AnalysisType == '5') {
                        ddlAnalysisCode5.append($("<option></option>").val(value.AnalysisCode.trim()).html(value.Description));
                    }

                });
            }
        }

    }

    function PostExpenseIssue() {
        $('#errordiv').text("");
        $('#errordiv').removeClass("alert alert-danger");
        showprogressbar();



        if ($('#bin').is(':visible')) {
            if ($('#Bin').val() == "") {
                alert("Bin cannot be blank.");
                hideprogressbar();
                return;
            }
        }


        let mydata = [];
        $("#tblLines > tbody > tr ").each(function (i, el) {
            let $tds = $(this).find('td')
            let CostCentre = $('#CostCentre').val();
            let WorkCentre = $('#WorkCentre').val();
            let Warehouse = $('#Warehouse').val();
            let Bin = $tds.eq(0).find('input[type=hidden]').val();
            let StockCode = $tds.eq(0).text();
            let Lot = $tds.eq(1).text();
            let Quantity = $tds.eq(2).text();
            let Employee = $('#Employee').val();
            let AnalysisCode1 = $tds.eq(3).text();
            let AnalysisCode2 = $tds.eq(4).text();
            let AnalysisCode3 = $tds.eq(5).text();
            let AnalysisCode4 = $tds.eq(6).text();
            let AnalysisCode5 = $tds.eq(7).text();

            let myObject = new Object();
            myObject.CostCentre = CostCentre;
            myObject.WorkCentre = WorkCentre;
            myObject.Warehouse = Warehouse;
            myObject.Bin = Bin;
            myObject.StockCode = StockCode;
            myObject.Lot = Lot;
            myObject.Quantity = Quantity;
            myObject.Employee = Employee;
            myObject.AnalysisCode1 = AnalysisCode1;
            myObject.AnalysisCode2 = AnalysisCode2;
            myObject.AnalysisCode3 = AnalysisCode3;
            myObject.AnalysisCode4 = AnalysisCode4;
            myObject.AnalysisCode5 = AnalysisCode5;
            mydata.push(myObject);
        });

        let myString = JSON.stringify({ details: JSON.stringify(mydata) });
        let exportdata = myString;

        $.ajax({
            type: "POST",
            url: '@Url.Action("PostExpenseIssue", "WhseManExpenseIssue")' + '?TransactionDate=' + $("#TransactionDate").val(),
            data: exportdata,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: OnErrorCall
        });

        function OnSuccess(response) {
            if (response != "") {
                document.getElementById('Barcode').value = "";
                document.getElementById('StockCode').value = "";
                document.getElementById('Lot').value = "";
                document.getElementById('Quantity').value = "";
                document.getElementById('Bin').value = "";
                $('#errordiv').text(response);
                $('#errordiv').addClass("alert alert-danger");
                if (response.indexOf("Posting Complete.") == 0) {
                    $('#tblLines tbody').empty();
                    $('#CostCentre').removeAttr("disabled");
                    $('#WorkCentre').removeAttr("disabled");
                    $('#Warehouse').removeAttr("disabled");
                }

            }
            hideprogressbar();
        }

        function OnErrorCall(response) {
            if (response != "") {
                $('#errordiv').text(response);
                $('#errordiv').addClass("alert alert-danger");

            }
            hideprogressbar();
        }
    }

    function GetUom(StockCode) {

        let myString = JSON.stringify({
            StockCode: StockCode
        });
        let exportdata = myString;

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetUom", "WhseManExpenseIssue")',
            contentType: "application/json; charset=utf-8",
            data: exportdata,
            dataType: "json",
            success: OnSuccess,
            failure: function () {
                alert(response);
            }
        });

        function OnSuccess(response) {
            $('#StockUom').val(response);
        }
    }

    $(document).ready(function () {

        $('#megasoftTitle').text(' Megasoft - Expense Iss.');
        let span = document.getElementById("megasoftTitle");
        span.style.fontSize = "x-small";


        checkMultiBins($('#Warehouse').val());

        GetWorkCentres($("#CostCentre").val());

        $("#Warehouse").change(function () {
            checkMultiBins($('#Warehouse').val());
        });

        $("#CostCentre").change(function () {
            GetWorkCentres($("#CostCentre").val());
        });

        $('#tblLines').on("click", ".delLine", function () {
            $(this).closest("tr").remove();
            let rows = document.getElementById('tblLines').getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
            $('#txtCount').html('Total:' + rows);
        });

        $('#btnCheck').on("click", function () {
            ValidateBarcode();
        });
    });

</script>
}