@model IEnumerable<Megasoft2.mtReportAutomation>

@{
    ViewBag.Title = "Index";
}

<h4 style="font-weight:bold;" class="text-center">Report Automation Setup</h4><hr />
@Html.AntiForgeryToken()
    @if (!Html.ViewData.ModelState.IsValid)
    {
<div class="alert alert-danger fade in">
    @Html.ValidationSummary(true)
</div>
    }
<p>
    <a href="@Url.Action("AddReport", "Settings")" class="btn btn-warning">
        <span class="fa fa-file-o" aria-hidden="true" title="Add New Report"> Add Report</span>
    </a>
    <a href="@Url.Action("ReportAutomationSettings", "Settings")" class="btn btn-default">
        <span class="fa fa-refresh" aria-hidden="true" title="Refresh"> Refresh</span>
    </a>
</p>
<div class="form-group">
    @*<div class="col-sm-12">
            <input type="text" id="txtSearch" class="form-control input-sm col-sm-12" placeholder="search" autofocus />

        </div>*@

    <hr />
    <div class="col-sm-14">
        <table class="tblReport table table-hover table-striped table-condensed table-responsive table-bordered " id="tblReport">
            <thead class="style1">
                <tr class="nowrap">

                    <th>
                        Report
                    </th>
                    <th>
                        Service Schedule Mode
                    </th>

                    <th>
                        Service Run Time
                    </th>
                    <th>
                        Service Weekly Day
                    </th>
                    <th>
                        Service Monthly Date
                    </th>
                    <th>
                        Service Active
                    </th>
                    <th>
                        Last Run Date
                    </th>
                    <th>
                        Service Interval Min
                    </th>
                    <th>
                        To Email
                    </th>
                    <th>
                        Report Path
                    </th>

                    <th class="nowrap"></th>
                </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="nr">
                        <td>
                            <a href="@Url.Action("AddReport", "Settings", new { Report = item.Report})">@Html.DisplayFor(model => item.Report)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ServiceScheduleMode)
                            @Html.HiddenFor(model => item.ServiceScheduleMode)
                        </td>

                        <td>
                            @Html.DisplayFor(model => item.ServiceRunTime)
                            @Html.HiddenFor(model => item.ServiceRunTime)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ServiceWeeklyDay)
                            @Html.HiddenFor(model => item.ServiceWeeklyDay)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ServiceMonthlyDate)
                            @Html.HiddenFor(model => item.ServiceMonthlyDate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ServiceActive)
                            @Html.HiddenFor(model => item.ServiceActive)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.LastRunDate)
                            @Html.HiddenFor(model => item.LastRunDate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ServiceIntervalMin)
                            @Html.HiddenFor(model => item.ServiceIntervalMin)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ToEmail)
                            @Html.HiddenFor(model => item.ToEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ReportPath)
                            @Html.HiddenFor(model => item.ReportPath)
                        </td>

                        <td>
                            <a href="@Url.Action("AddReport", "Settings", new {Report = item.Report })" class="btn btn-primary btn-xs">
                                <span class="fa fa-pencil-square-o" aria-hidden="true" title="Edit Report"></span>
                            </a>
                            <a href="@Url.Action("DeleteReport", "Settings", new { Report = item.Report})" class="btn btn-danger btn-xs">
                                <span class="fa fa-trash-o" aria-hidden="true" title="Delete Report"></span>
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {

    <style type="text/css">
        .nowrap {
            white-space: nowrap;
        }

        th {
            background-color: black;
        }
    </style>
    <link href="~/Content/DataTable/datatables.css" rel="stylesheet">

    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    @Scripts.Render("~/Content/DataTable/datatables.js")




    <script type="text/javascript">
        $("#tblReport").DataTable({
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 2,
                rightColumns: 1
            }
        });
        $(function () {
            $('#txtSearch').focus();
            $('#txtSearch').keyup(function () {
                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
                var $rows = $('#tblReport .nr');
                $rows.show().filter(function () {
                    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                    return !~text.indexOf(val);
                }).hide();
            });

            // UltimateScrollingTable('tblScale', 700, 1500, 1);
        });
    </script>
}
