@model Megasoft2.Models.DispatchVerification
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmBatchScan" }))
{
    <fieldset>
        <div class="form-group " style="margin-left:-20px">
            <div class="form-horizontal row spacer-xs" id="firstrow">

                <div id="errordiv" class="col-xs-10" style="font-size:xx-small">

                </div>
            </div>
            <div class="form-horizontal row">
                <div class="col-xs-10 text-right">
                    @*<a href="#" class="btn btn-primary btn-lg" onclick="" id="btnPost">
                        <span class="fa fa-save" aria-hidden="true" title="Post"></span>
                    </a>*@
                    <button id="btnPost" type="submit" UseSubmitBehavior="false" @*name="action:DispVerification" value="DispVerification"*@ class="btn-success btn-sm">
                        <i class="fa fa-save" aria-hidden="true" title="Post"></i> Complete
                    </button>
                </div>
            </div>
            <hr />
            <div id="ScanBatch">
                <div class="form-horizontal row spacer-xs">

                    <div class="control-label col-xs-3" style="text-align:left;">
                        <h4>Track ID</h4>
                    </div>
                    <div class="editor-field col-xs-6">
                        @Html.TextBoxFor(model => model.TrackId, new { @class = "form-control input-lg", @id = "txtTrackId" })
                        @Html.ValidationMessageFor(model => model.TrackId)

                    </div>
                </div>
                <div class="form-horizontal row spacer-xs">

                    <div class="control-label col-xs-3" style="text-align:left;">
                        <h4>Dispatch Note</h4>
                    </div>
                    <div class="editor-field col-xs-6">
                        @Html.TextBoxFor(model => model.DispatchNote, new { @class = "form-control input-lg", @id = "txtDispatchNote" })
                        @Html.ValidationMessageFor(model => model.DispatchNote)

                    </div>
                    <div class="col-xs-2 text-left">
                        <a href="#" class="btn btn-success btn-lg" id="btnValidate">
                            <span class="fa fa-arrow-circle-o-right " aria-hidden="true" title="Check"></span>
                        </a>
                    </div>
                </div>
                <div class="form-horizontal row spacer-xs">

                    <div class="control-label col-xs-3" style="text-align:left;">
                        <h4>Barcode</h4>
                    </div>
                    <div class="editor-field col-xs-6">
                        @Html.TextBoxFor(model => model.Barcode, new { @class = "form-control input-lg", @id = "txtBarcode", @style = "font-size:xx-small;" })
                        @Html.ValidationMessageFor(model => model.Barcode)
                    </div>
                    <div class="col-xs-2 text-left">
                        <a href="#" class="btn btn-success btn-lg" id="btnCheck">
                            <span class="fa fa-arrow-circle-o-right " aria-hidden="true" title="Check"></span>
                        </a>
                    </div>
                    @*<div class="col-xs-2 text-left">
                        <a href="#" class="btn btn-primary btn-lg" id="btnAdd" onclick="">
                            <span class="fa fa-plus" aria-hidden="true" title="Add"></span>
                        </a>
                    </div>*@
                </div>

                <hr />
                <div class="form-horizontal row text-center col-xs-11">
                    <div class="control-label col-xs-1" style="text-align:left;" id="txtCount">

                    </div>
                    <input id="NoteTotal" type="hidden" value="">
                </div>
                <div class="form-horizontal row spacer-xs col-xs-11">

                    <table class="table table-hover table-striped table-condensed table-responsive table-bordered" id="tblLines" style="font-size:xx-small">
                        <thead>
                            <tr>
                                <th>Track ID</th>
                                <th>Dispatch Note</th>
                                <th>Lot</th>
                                <th>Pallet</th>
                                <th>Qty</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </fieldset>
}


<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
    //000000000000024||10|0|A2-0001-210115||24
    function ValidateBarcode() {
        $('#errordiv').text("");
        $('#errordiv').removeClass("alert alert-danger");
        var str = document.getElementById('txtBarcode').value;
        
        if (str.indexOf("|") > 0) {
            var Values = document.getElementById('txtBarcode').value.split("|");

            var mydata = [];
            var myObject = new Object();
            myObject.Dispatchnote =$('#txtDispatchNote').val();
            myObject.LotNumber = Values[4];
            myObject.Quantity = Values[2]

            mydata.push(myObject);

            var myString = JSON.stringify({ details: JSON.stringify(mydata) });
            var exportdata = myString;

            $.ajax({
                type: "POST",
                url: "DispatchVerification/ValidateDetails",
                data: exportdata,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: OnErrorCall
            });

            function OnSuccess(response) {
                if (response != "") {
                    document.getElementById('txtBarcode').value = "";
                    //document.getElementById('txtDispatchNote').value = "";
                    //document.getElementById('txtTrackId').value = "";
                    $('#errordiv').text(response);
                    $('#errordiv').addClass("alert alert-danger");
                    document.getElementById('txtBarcode').focus();
                }
                else {
                    document.getElementById("txtBarcode").focus();
                }
                GetItemsScanned();
            }

            function OnErrorCall(response) {
                if (response != "") {
                    document.getElementById('txtTrackId').value = "";
                    document.getElementById('txtBarcode').value = "";
                    document.getElementById('txtDispatchNote').value = "";
                    $('#errordiv').text(response);
                    $('#errordiv').addClass("alert alert-danger");
                    document.getElementById('txtBarcode').focus();
                }
                else {
                    document.getElementById("btnPost").focus();
                }
            }
        }
        else {
            GetPalletItems();
        }
    }

    function GetPalletItems() {
        $('#errordiv').text("");
        $('#errordiv').removeClass("alert alert-danger");
        var str = document.getElementById('txtBarcode').value;
        
        if (str != "") {
            var Values = str;

            var mydata = [];
            var myObject = new Object();
            myObject.Dispatchnote = $('#txtDispatchNote').val();
            myObject.LotNumber = Values;

            mydata.push(myObject);

            var myString = JSON.stringify({ details: JSON.stringify(mydata) });
            var exportdata = myString;

            $.ajax({
                type: "POST",
                url: "DispatchVerification/ValidateDetails",
                data: exportdata,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: OnErrorCall
            });

            function OnSuccess(response) {
                if (response != "") {
                    document.getElementById('txtBarcode').value = "";
                    $('#errordiv').text(response);
                    $('#errordiv').addClass("alert alert-danger");
                    document.getElementById('txtBarcode').focus();
                }
                else {
                    document.getElementById("txtBarcode").focus();
                }
                GetItemsScanned();
            }

            function OnErrorCall(response) {
                if (response != "") {
                    document.getElementById('txtTrackId').value = "";
                    document.getElementById('txtBarcode').value = "";
                    document.getElementById('txtDispatchNote').value = "";
                    $('#errordiv').text(response);
                    $('#errordiv').addClass("alert alert-danger");
                    document.getElementById('txtBarcode').focus();
                }
                else {
                    document.getElementById("btnPost").focus();
                }
            }
        }
        else {
            //GetPalletItems(document.getElementById('txtBarcode').value, SourceWarehouse, DestinationWarehouse);
        }
    }

    function ValidateDispatchNote() {

        var myString = JSON.stringify({ DispatchNote: document.getElementById('txtDispatchNote').value, TrackId: document.getElementById('txtTrackId').value });
        var exportdata = myString;
        
        $.ajax({
            type: "POST",
            url: "@Url.Action("ValidateDispatchNote", "DispatchVerification")",
            data: exportdata,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: OnErrorCall
        });
        
        function OnSuccess(response) {
            
            if (response != "") {
                if (response.match("^Error")) {
                    $('#errordiv').text(response);
                    $('#errordiv').addClass("alert alert-danger");
                    alert(response);
                }
                else {
                    document.getElementById('txtDispatchNote').focus();
                }
            }
            else {
                document.getElementById("txtBarcode").focus();
            }

            GetItemsScanned();
        }

        function OnErrorCall(response) {
            if (response != "") {
                document.getElementById('txtDispatchNote').value = "";
                document.getElementById('txtTrackId').value = "";
                alert(response);
                $('#errordiv').text(response);
                $('#errordiv').addClass("alert alert-danger");
                document.getElementById('txtTrackId').focus();
            }
            else {
                document.getElementById("txtTrackId").focus();

            }
        }
    }

    function btnComplete() {

        var TrackId = document.getElementById('txtTrackId').value;
        var DispactchNote = document.getElementById('txtDispatchNote').value;

        var mydata = [];
        var myObject = new Object();
        myObject.TrackId = TrackId;
        myObject.Dispatchnote = DispactchNote;

        mydata.push(myObject);

        var myString = JSON.stringify({ details: JSON.stringify(mydata) });
        var exportdata = myString;

        $.ajax({
            type: "POST",
            url: "DispatchVerification/Verification",
            data: exportdata,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: OnErrorCall
        });

        function OnSuccess(response) {
            $('#errordiv').text(response);
            $('#errordiv').addClass("alert alert-danger");
        }

        function OnErrorCall(response) {
            $('#errordiv').text(response);
            $('#errordiv').addClass("alert alert-danger");
        }
    }

    function GetItemsScanned() {
        $('#errordiv').text("");
        $('#errordiv').removeClass("alert alert-danger");

        $("#tblLines tbody>tr").remove();

        var myString = JSON.stringify({
            TrackId: $('#txtTrackId').val(),
            DispatchNote: $('#txtDispatchNote').val()
        });
        var exportdata = myString;

        $.ajax({
            type: "POST",
            url: "DispatchVerification/GetItemsScanned",
            contentType: "application/json; charset=utf-8",
            data: exportdata,
            dataType: "json",
            success: OnSuccess,
            failure: function () {
                alert(response);
            }
        });

        function OnSuccess(response) {
            var trHTML = '';
            $.each(response, function (index) {
                trHTML += '<tr><td class="nowrap">' + response[index].TrackId + '</td><td class="nowrap">' + response[index].DispatchNote + '</td><td class="nowrap">' + response[index].Lot + '</td><td class="nowrap">' + response[index].Pallet + '</td><td class="nowrap" >' + response[index].StockQtyToShip + ' </td >' +
                    '<td><a href="#" class="delLine btn btn-danger btn-xs" tabindex="-1"><span class="fa fa-trash-o aria-hidden="true" title="Delete Line" tabindex="-1"></span></a></td></tr>';
            });


            $('#tblLines').append(trHTML);
            $("#txtBarcode").focus();
        }
    }

    $('#tblLines').on("click", ".delLine", function () {

        $('#errordiv').text("");
        $('#errordiv').removeClass("alert alert-danger");

        var $row = $(this).closest("tr").attr('TrackId');    // Find the row

        var TrackId = $(this).closest("tr").find('td:eq(0)').text()
        var DispatchNote = $(this).closest("tr").find('td:eq(1)').text()
        var Lot = $(this).closest("tr").find('td:eq(2)').text()
        var Pallet = $(this).closest("tr").find('td:eq(3)').text()
        var Quantity = $(this).closest("tr").find('td:eq(4)').text()

        var mydata = [];
        var myObject = new Object();

        myObject.TrackId = TrackId;
        myObject.Dispatchnote = DispatchNote;
        myObject.Lot = Lot;
        myObject.Pallet = Pallet;
        myObject.Quantity = Quantity;

        mydata.push(myObject);

        var myString = JSON.stringify({ details: JSON.stringify(mydata) });
        var exportdata = myString;

        $.ajax({
            type: "POST",
            url: "DispatchVerification/DeleteScannedItem",
            data: exportdata,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function () {
                alert(response);
            }
        });

        function OnSuccess(response) {
            if (response == "Deleted Successfully.") {

                $('#errordiv').text(response);
                $('#errordiv').addClass("alert alert-danger");

                $("#tblLines tbody>tr").remove();
                GetItemsScanned();

            }
            else {
                $('#errordiv').text(response);
                $('#errordiv').addClass("alert alert-danger");
            }
        }
        if (count > 0) {
            count = count - 1;
            $('#txtCount').html('Total:' + count);
        }
    });

    $(document).ready(function () {

        //change page title text
        $('#megasoftTitle').text(' Megasoft - Verification');
        var span = document.getElementById("megasoftTitle");
        span.style.fontSize = "x-small";

        $('#txtBarcode').on('change', function (e) {
            //btnCheck(); //Commented out as scanner does tab and enter on scan.
            ValidateBarcode();
        });

        //$('#btnCheck').on('click', function (e) {
        //    btnCheck();
        //});

        $('#btnValidate').on('click', function (e) {
            ValidateDispatchNote();
        });

        $('#txtQuantity').on('change', function (e) {
            if ($('#hdSupplier').val() == "MON007")
            {
                var str = document.getElementById('txtQuantity').value;
                document.getElementById('txtQuantity').value = str.substring(9, 13);
            }
        });

        $('#tblLines').on("click", ".delLine", function () {
            $(this).closest("tr").remove();
            var rows = document.getElementById('tblLines').getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
            $('#txtCount').html('Total:' + rows);
        });

    });

    $('#btnPost').on('click', function (e) {
        btnComplete();
    });
</script>