@model Megasoft2.ViewModel.SuppDeliveryLogViewModel
@{
    ViewBag.Title = "Index";
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "SupplierLog" }))
{

    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger fade in">
            @Html.ValidationSummary(true)
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="text-center">Supplier Delivery Log</h2>

            <hr />

            <div class="row">
                <a href="@Url.Action("Index", "SuppDeliveryLog")" class="btn btn-default active-right" title="Reload Search">
                    <span class="fa fa-refresh" aria-hidden="true"> </span>
                </a>

                <a href="@Url.Action("LogEntry", "SuppDeliveryLog", new { Id = -1 })" class="btn btn-info active-right modal-link" title="New Log Entry">
                    <span class="fa fa-plus-circle" aria-hidden="true"> </span>
                </a>
                <button type="submit" asp-page-handler="Submit" class="btn btn-sm btn-success pull-right right" id="btnPost" name="action:PrintPdf" value="PrintPdf"><span class="fa fa-file-pdf-o" aria-hidden="true"> PDF</span></button>
            </div>
        </div>

        <div class="panel-body">
            <div class="col-sm-12">
                <div class="form-group">

                    <!--Initial search-->
                    <div class="row">
                        <div class="form-group">

                            <div class="col-sm-6">
                                <div class="col-sm-4">
                                    <div class="control-label">
                                        Supplier
                                        @Html.HiddenFor(model => model.SuppLog.TransactionDate)
                                        @Html.HiddenFor(model => model.SuppLog.Reciever)
                                    </div>
                                </div>

                                <div class="col-sm-8 input-group">
                                    @if (ViewBag.IsValid != null)
                                    {
                                        if (ViewBag.IsValid)
                                        {
                                            @Html.TextBoxFor(model => model.Supplier, new { @class = "form-control input-xs", @readonly = "readonly" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.Supplier, new { @class = "form-control input-xs" })
                                            <div class="input-group-btn">
                                                <a href="@Url.Action("SupplierSearch", "SuppDeliveryLog")" class="btn btn-sm btn-info modal-link searchbox  btn-xs">
                                                    <span class="fa fa-search" aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="control-label col-sm-4" style="text-align:left;">
                                    Del. Note/Supp. Ref
                                </div>

                                @if (ViewBag.IsValid != null)
                                {
                                    if (ViewBag.IsValid)
                                    {
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.DeliveryNote, new { @class = "form-control input-xs", @readonly = "readonly" })
                                        </div>
                                    }
                                    else
                                    {

                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.DeliveryNote, new { @class = "form-control input-xs" })
                                        </div>
                                    }
                                }

                            </div>

                        </div>
                    </div>
                    <!--Initial search-->

                    <div class="row">
                        <hr />
                        @if (ViewBag.IsValid != null)
                        {
                            if (ViewBag.IsValid == false)
                            {
                                <button type="submit" class="btn btn btn-success center-block" title="Load Supplier Delivery Log" name="action:Index">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                </button>
                            }
                        }
                        @if (Model != null)
                        {
                            if (Model.PrintPdf != null)
                            {
                                <a href="@Model.PrintPdf.FilePath" target="_blank" class="btn btn-default btn-sm pull-right right">
                                    <span class="fa fa-print" aria-hidden="true" title="Download File"><span style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-size:12px;"> @Model.PrintPdf.FileName</span></span>
                                </a>
                            }
                        }
                    </div>

                    <!--Table Results-->
                    @if (ViewBag.ShowTable != null)
                    {
                        if (ViewBag.ShowTable)
                        {
                            <div class="col-sm-12">
                                <div class="row spacer-xs" style="font-size:10px;">
                                    <div id="Detail">
                                        <div class="table-responsive">
                                            <table class="tblDetail table table-hover table-striped table-condensed table-bordered" id="tblDetail">
                                                <thead class="style1" tabindex="-1">
                                                    <tr bgcolor="#000000">
                                                        <th>
                                                            Action
                                                        </th>
                                                        <th style="width:50px">
                                                            Reciever
                                                        </th>
                                                        <th style="width:100px">
                                                            Supplier
                                                        </th>
                                                        <th style="width:80px">
                                                            Purchase Order
                                                        </th>
                                                        <th style="width:40px">
                                                            Valid Purchase Order
                                                        </th>
                                                        <th style="width:50px">
                                                            StockCode
                                                        </th>
                                                        <th style="width:80px">
                                                            Quantity
                                                        </th>
                                                        <th style="width:60px">
                                                            Supplier Ref
                                                        </th>
                                                        <th style="width:80px">
                                                            Description
                                                        </th>
                                                        <th style="width:80px">
                                                            Uom
                                                        </th>
                                                        <th style="width:80px">
                                                            Line
                                                        </th>
                                                        <th style="width:40px">
                                                            Product Apperance
                                                        </th>
                                                        <th style="width:40px">
                                                            Product Condition
                                                        </th>
                                                        <th style="width:40px">
                                                            Delivery Truck Condition
                                                        </th>
                                                        <th style="width:40px">
                                                            Accepted Rejected
                                                        </th>
                                                        <th style="width:40px">
                                                            Label Print
                                                        </th>
                                                        <th style="width:350px">
                                                            Comments
                                                        </th>
                                                        <th style="display: none;">
                                                        </th>
                                                        <th style="display: none;">

                                                        </th>
                                                    </tr>

                                                </thead>
                                                <tbody class="datarow">
                                                    @if (Model != null)
                                                    {
                                                        if (Model.DeliveryLogList != null)
                                                        {
                                                            for (int i = 0; i < Model.DeliveryLogList.Count; i++)
                                                            {

                                                                <tr class="nr">
                                                                    <td>
                                                                        <div class="row text-center">
                                                                            <a href="@Url.Action("LogEntry", new { Id = Model.DeliveryLogList[i].Id })" class="btn btn-warning btn-xs modal-link">
                                                                                <span class="fa fa-edit" aria-hidden="true" title="Edit Line"><span style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-size:12px;"></span></span>
                                                                            </a>
                                                                            <a href="@Url.Action("DeleteDetailLine", new { Id = Model.DeliveryLogList[i].Id})" class="btn btn-danger btn-xs">
                                                                                <span class="fa fa-trash-o" aria-hidden="true" title="Delete"><span style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-size:12px;"></span></span>
                                                                            </a>
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        @Model.DeliveryLogList[i].Reciever
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].Reciever)
                                                                    </td>

                                                                    <td>
                                                                        @Model.DeliveryLogList[i].Supplier
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].Supplier)
                                                                    </td>
                                                                    <td>
                                                                        @Model.DeliveryLogList[i].PurchaseOrder
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].PurchaseOrder)
                                                                    </td>
                                                                    <td>
                                                                        @Model.DeliveryLogList[i].ValidPO
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].ValidPO)
                                                                    </td>
                                                                    <td>
                                                                        @Model.DeliveryLogList[i].StockCode
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].StockCode)
                                                                    </td>
                                                                    <td>
                                                                        @Model.DeliveryLogList[i].Quantity
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].Quantity)
                                                                    </td>
                                                                    <td>
                                                                        @Model.DeliveryLogList[i].SupplierRef
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].SupplierRef)
                                                                    </td>
                                                                    <td>
                                                                        @Model.DeliveryLogList[i].Description
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].Description)
                                                                    </td>
                                                                    <td>
                                                                        @Model.DeliveryLogList[i].Uom
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].Uom)
                                                                    </td>
                                                                    <td>
                                                                        @Model.DeliveryLogList[i].Line
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].Line)
                                                                    </td>
                                                                    <td width="40px">
                                                                        @Model.DeliveryLogList[i].ProductApperance
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].ProductApperance)
                                                                    </td>
                                                                    <td width="40px">
                                                                        @Model.DeliveryLogList[i].ProductCondition
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].ProductCondition)
                                                                    </td>
                                                                    <td width="40px">
                                                                        @Model.DeliveryLogList[i].DeliveryTruckCondition
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].DeliveryTruckCondition)

                                                                    </td>
                                                                    <td width="40px">
                                                                        @Model.DeliveryLogList[i].AcceptedRejected
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].AcceptedRejected)

                                                                    </td>
                                                                    <td width="40px">
                                                                        @Model.DeliveryLogList[i].lblPrint
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].lblPrint)

                                                                    </td>
                                                                    <td>
                                                                        @Model.DeliveryLogList[i].Comments
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].Comments)

                                                                    </td>
                                                                    <td style="display: none;">
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].TransactionDate)
                                                                    </td>
                                                                    <td style="display: none;">
                                                                        @Html.HiddenFor(model => Model.DeliveryLogList[i].ValidPO)
                                                                    </td>
                                                                </tr>

                                                            }

                                                        }
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <!--Table Results-->
                </div>

            </div>
        </div>
    </div>

}

<link href="~/Content/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
<style type="text/css">
    .nowrap {
        white-space: nowrap;
    }

    .hbutton {
        margin: 5px;
    }

    .hr {
        padding: 0px;
        margin: 0px;
    }

    /*html {
        overflow-y: hidden;
    }*/
</style>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DataTables/dataTables.min.css")" />
@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.24.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {

            var table = $('#tblDetail').DataTable({
                dom: 'Bfrtip',
                paging: false,
                "rowReorder": true,
                "ordering": true,
                order: [[1, 'asc']],
                buttons: [
                    'excelHtml5'
                ],
                "orderClasses": false
            });

        });

    </script>
}