@model Megasoft2.Models.InkComponets

<div class="bs-example" id="BomComponentModal">
    <div class="panel panel-green">
        <!-- Default panel contents -->
        <div class="panel-heading" style="max-height: 52px;">
            <div class="row">
                BOM Component
                <button type="button" class="close" data-dismiss="modal" id="btnCloseComponent">&times;</button>
                &nbsp;&nbsp;
            </div>
        </div>



        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-horizontal row">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="">
                                @* Filters Goes Here *@
                                <table class="table table-bordered table-condensed table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            @*<th>Key Id</th>*@
                                            <th>
                                                @*@Html.TextBoxFor(model => model.Id, new { @class = "form-control input-sm", @readonly = "readonly" })*@
                                                @Html.HiddenFor(model => model.Mode)
                                                @Html.HiddenFor(model => model.SequenceNum)
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Parent Part</th>
                                            <th>
                                                @Html.TextBoxFor(model => model.ParentPart, new { @class = "form-control input-sm", @readonly = "readonly" })
                                                @Html.HiddenFor(model => model.Route)

                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Component</th>
                                            <th>
                                                <div class="input-group add-on">
                                                    @if (ViewBag.NewComponent)
                                                    {
                                                        @Html.TextBoxFor(model => model.Component, new { @class = "form-control input-sm", @placeholder = "Stock Code" })
                                                        <div class="input-group-btn">
                                                            <a href="#" data-toggle="modal" data-target="#searchStock" class="btn btn-default btn-sm" id="btnStockSearch"><i class="glyphicon glyphicon-search"></i></a>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <a href="#" data-toggle="modal" data-target="#addStock" class="btn btn-default btn-sm" id="btnAddStock"><i class="glyphicon glyphicon-plus"></i></a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.Component, new { @class = "form-control input-sm", @placeholder = "Stock Code", @readonly = "readonly" })
                                                    }

                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                Stock Description
                                            </th>
                                            <th>
                                                @Html.TextBoxFor(model => model.StockDescription, new { @class = "form-control input-sm", @placeholder = "Stock Description" })

                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Quantity Per</th>
                                            <th>
                                                @Html.TextBoxFor(model => model.QtyPer, new { @class = "form-control input-sm", @placeholder = "Quantity Per" })
                                            </th>
                                        </tr>

                                        <tr>
                                            <th>Anilox</th>
                                            <th>
                                                @Html.DropDownListFor(model => model.Analox, new SelectList(ViewBag.BomComponentTypeList, "Value", "Description"), new { @class = "form-control " })

                                            </th>
                                        </tr>

                                        @*<tr>
                                                <th>Scrap Quantity</th>
                                                <th>
                                                    @Html.TextBoxFor(model => model.ScrapQuantity, new { @class = "form-control input-sm", @placeholder = "Scrap Quantity" })
                                                </th>
                                            </tr>*@

                                        <tr>
                                            <th>Scrap %</th>
                                            <th>
                                                @Html.TextBoxFor(model => model.ScrapPercentage, new { @class = "form-control input-sm", @placeholder = "Scrap %" })
                                            </th>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div id="errordiv">

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-right">

                                                @if (Model.Mode != "Delete")
                                                {
                                                    <button type="button" class="btn btn-success btn-sm" id="btnSaveComponent">
                                                        <i class="fa fa-save"> Save</i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-danger btn-sm" id="btnSaveComponent">
                                                        <i class="fa fa-trash"> Delete</i>
                                                    </button>

                                                }

                                            </td>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal for search Stock Codes-->
<div class="modal" id="searchStock" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-yellow">
            <!-- Default panel contents -->
            <div class="panel-heading" style="max-height: 52px;">
                <div class="row">
                    Stock Codes
                    <button type="button" class="closeModal3 close">&times;</button>
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="modal-body">
                <div id="StockCodesDiv">
                    <table id="tblStock" class="table table-hover table-striped table-condensed table-responsive table-bordered">
                        <thead><tr><th>Stock Code</th><th>Description</th><th>Uom</th></tr></thead>
                        <tbody id="data"></tbody>
                    </table>
                </div>
                <form role="form">
                    <div class="form-group">

                    </div>
                    <button type="button" class="closeModal3 btn btn-danger btn-sm" id="btnReview">
                        <i class="fa fa-close"> Close</i>
                    </button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<link href="~/Content/DataTable/datatables.css" rel="stylesheet">

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Content/DataTable/datatables.js")
<script type="text/javascript">


    function SearchStock() {

        var table = $("#tblStock tbody");

        $.ajax({
            url: "@Url.Action("StockCodeList", "InkSystem")?Route=" + $('#Route').val(),
            method: "GET",
            xhrFields: {
                withCredentials: true,
                ordering: false,
                iDisplayLength: 20,
                fixedHeader: true,
                scrollY: 500,
                responsive: true
            },
            success: function (data) {
                table.empty();

                $.each(data, function (a, ord) {
                    table.append("<tr class='nr' id=" + ord.MStockCode + "><td><a href=#>" + ord.MStockCode + "</a></td> <td>" + ord.MStockDes + "</td> <td>" + ord.MStockingUom + "</td></tr >");
                });
                $("#tblStock").DataTable();
            }

        });

    }



    $(document).ready(function () {

        $('.closeModal3').click(function () {
            $('#searchStock').modal('toggle');
        });


        $('#btnSaveComponent').on('click', function (e) {
            e.preventDefault();

            var mydata = [];

            var myObject = new Object();
            myObject.ParentPart = $('#ParentPart').val();
            myObject.Component = $('#Component').val();
            myObject.QtyPer = $('#QtyPer').val();
            myObject.LayerPerc = $('#LayerPerc').val();
            myObject.ScrapQuantity = $('#ScrapQuantity').val();
            myObject.ScrapPercentage = $('#ScrapPercentage').val();
            myObject.Mode = $('#Mode').val();
            myObject.Route = $('#Route').val();
            myObject.Analox = $('#Analox').val();
            mydata.push(myObject);

            var myString = JSON.stringify({ details: JSON.stringify(mydata) });
            var exportdata = myString;
            showprogressbar();
            $.ajax({
                type: "POST",
                url: "InkSystem/SaveComponent",
                data: exportdata,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: OnErrorCall
            });

            function OnSuccess(response) {
                $('#errordiv').text(response);
                $('#errordiv').addClass("alert alert-danger");
                GetTree();
                LoadComponents($('#ParentPart').val());
                $('#btnCloseComponent').trigger('click');
                hideprogressbar();
            }

            function OnErrorCall(response) {
                $('#errordiv').text(response);
                $('#errordiv').addClass("alert alert-danger");
                hideprogressbar();
            }
        });

        $('#btnStockSearch').click(function () {
            $('#StockCodesDiv').html('<table id="tblStock" class="table table-hover table-striped table-condensed table-responsive table-bordered"><thead><tr><th>Stock Code</th><th>Description</th><th>Uom</th></tr></thead><tbody id="data"></tbody></table>');
            SearchStock();
        });

        $('#StockCodesDiv').on("click", ".nr", function () {
            var rCode = $(this).attr('id');
            var MStockDes = $(this).closest("tr").find('td:eq(1)').text();
            $('#Component').val(rCode);
            $('#searchStock').modal('toggle');
            $('#StockDescription').val(MStockDes);

        });


        $('#btnAddStock').click(function () {
            $("#btnCloseComponent").click();
            //Open Modal for StockCode Creation
            window.setTimeout(function () {
                $("#btnAddStockCode").trigger("click");
            }, 500);
        });

    });
</script>